/*
 * Copyright 2013 The Broad Institute, Inc.
 * SOFTWARE COPYRIGHT NOTICE
 * This software and its documentation are the copyright of the Broad Institute, Inc. All rights are reserved.
 *
 * This software is supplied without any warranty or guaranteed support whatsoever. The Broad Institute is not responsible for its use, misuse, or functionality.
 */

.module-listing {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBEE;
    padding: 2px;
    cursor: pointer;
}

.module-listing:hover {
    background-color: #BBBBEE;
}

.module-name {
    font-size: 11pt;
    overflow: hidden;
}

.module-version {
    display: none;
    color: gray;
    float: right;
    font-size: 8pt;
    vertical-align: bottom;
    margin-top: 3px;
}

.module-doc {
    display:block;
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

.module-description {
    font-size: 8pt;
    color: gray;
    white-space: nowrap;
    max-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.module-tag {
    font-size:8pt;
    color: #666699;
}

.module-tag span {
    text-decoration: underline;
}

/*
--------------------------------------------------------
*/

.module-list-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #333366;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.module-list-empty {
    display: none;
    margin-left: 30px;
    color: darkgray;
}

/*
--------------------------------------------------------
*/

.search-widget {
    display:none;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 351px;
    background-color: white;
    height: 100%;
    width: 50%;
    opacity: 0.95;
    margin-left: 0px;
    margin-right: 50px;
    border-right: lightgray solid 2px;
    margin-top: 0px;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
    max-height: 100%;
    overflow: hidden;
}

.search-inner {
    height: 100%;
    overflow: auto;
    padding-left: 20px;
}

.slider-close-block {
    height: 0px;
    width: 0px;
    float: right;
    position: relative;
}

.slider-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12pt;
}

.search-widget .module-list {
    overflow: auto;
}

.search-widget .module-listing {
    float: left;
    width: 300px;
    margin-right: 10px;
    height: 60px;
    overflow: hidden;
}











