.tags
{
    max-height: 320px;
}

#tagsHeader
{
    font-size: 15px;
    font-weight: bold;
    background-color: #cddcf1;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 8px;
    border: 1px solid black;
    border-top: none;
}

#tagsHeader:hover
{
    cursor: pointer;
}

#tagsContent
{
    border: 1px solid black;
    border-top: none;
    padding-left: 35px;
    padding-right: 12px;
    overflow: auto;
}

img {
    vertical-align: middle;
}

div.tagsinput span.tag
{
    background:   lightgray;
    border: 1px solid #000099;
    color: #3333CC;
}

div.tagsinput span.tag a
{
    color: #3333CC;
}