.tourStyle
{
    background-color: #FFFF99  !important;
    font-size: 11px;
    width: 270px;
}

.tour-header
{
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 7px;
}

.tourHighlight
{
    border: 3px solid red !important;
}


/*Added for the GP 3.9.5 What's New tour */
#batchInfoDialogHeader h4
{
    margin: 0;
}

#batchInfoDialogHeader
{
    margin-top: 1px;
    margin-bottom: 8px;
}

#batchInfoDialog
{
    overflow: auto;
}
#batchInfoDialog table
{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    margin-left: 4px;
    margin-right: 4px;
}

#batchInfoDialog table tr td
{
    padding: 2px;
    border: 1px solid gray;
}

#batchInfoDialog table tr:first-child
{
    background-color: #d3d3d3;
}
/* End of css for GP 3.9.5 What's New tour*/