.tourStyle
{
    background-color: #FFFF99  !important;
    font-size: 11px;
    width: 270px;
}

.tour-header
{
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 7px;
}

.tourHighlight
{
    border: 3px solid red !important;
}