/*
 * Copyright 2013 The Broad Institute, Inc.
 * SOFTWARE COPYRIGHT NOTICE
 * This software and its documentation are the copyright of the Broad Institute, Inc. All rights are reserved.
 *
 * This software is supplied without any warranty or guaranteed support whatsoever. The Broad Institute is not responsible for its use, misuse, or functionality.
 */

.module-listing {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBEE;
    padding: 2px;
    cursor: pointer;
    height: 60px;
    overflow: hidden;
    z-index: 100;
    background-color: #FDFDFD;
    border-radius: 5px;
}

.module-listing:hover {
    background-image: url(images/sidebar-topBG.png);
	background-repeat: repeat-x;
}

.module-name {
	color: gray;
    font-size: 11pt;
    line-height: 13pt;
    overflow: hidden;
    width: 91%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.module-version {
    display: none;
    color: gray;
    float: right;
    font-size: 8pt;
    vertical-align: bottom;
    margin-top: 3px;
}

.module-lsid {
    display: none;
}

.module-remove {
    display: none;
}

.module-gear {
    display:block;
    float: right;
    margin-left: 3px;
    margin-right: 3px;
    opacity: 0.5;
}

.module-gear:hover {
    opacity: 1;
}

.module-menu {
    z-index: 5;
}

.module-menu li a {
    color: black !important;
}

.module-doc {
    display:block;
    height: 0px;
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

.module-description {
    font-size: 8pt;
    color: #333366;
    max-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-top: 2px;
}

.module-html {
    font-size: 8pt;
    color: #333366;
    max-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}

.module-tag {
    font-size:8pt;
    color: #000099 !important;
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.module-tag a {
    text-decoration: underline;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none; 
  user-select: none;
}

.module-expanded {
    position: absolute;
    background-image: url(images/sidebar-topBG.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2px;
    z-index: 9;
    min-height: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBEE;
}

.module-expanded .module-gear {
    display: none;
}

.module-expanded .module-lsid {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
}

.module-expanded .module-version {
    display: block;
}

.module-expanded .module-tag, .module-expanded .module-description {
    text-overflow: initial;
    white-space: normal;
    overflow: visible;
    max-height: none;
    word-wrap: break-word;
}

/*
--------------------------------------------------------
*/

.module-list-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333366;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.module-list-empty {
    display: none;
    margin-left: 30px;
    color: darkgray;
}

/*
--------------------------------------------------------
*/

.search-widget {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 351px;
    background-color: #FCFCFC;
    /*height: 100%;*/
    width: 50%;
    margin-left: 0px;
    margin-right: 50px;
    border-right: lightgray solid 2px;
    margin-top: 0px;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
    max-height: 100%;
}

.search-titlebar {
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    z-index: 3500;
    background-image: linear-gradient(#f4f5f5, #edeeee);
}

.search-titlebar .module-list-title {
    border: medium none;
    bottom: 0;
    font-size: 17px;
    font-weight: bold;
    left: 20px;
    margin-top: 13px !important;
    position: absolute;
    right: 50px;
    top: 0;
}

.search-inner {
    height: 100%;
    overflow: auto;
    padding-left: 20px;
    padding-top: 40px;
}

.slider-close-block {
    height: 0px;
    width: 0px;
    position: absolute;
    right: -14px;
    top: 3px;
}

.slider-close {
    float: right;
    top: 5px;
    right: 20px;
    font-size: 8pt;
}

.slider-close span {
    padding: 5px !important;
    line-height: 1 !important;
}

.search-widget .module-list-title {
    margin-top: 20px;
    margin-right: 20px;
}

.search-widget .module-list {
    overflow: auto;
    padding-bottom: 20px;
}

.search-widget .module-listing {
    float: left;
    width: 300px;
    margin-right: 10px;
    height: 60px;
    overflow: hidden;
}

/* ---------------------- SCAFFOLDING ------------------------- */

body {
    margin: 0px;
    overflow-x: hidden;
}

#header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 71px;                           /* Set to final actual height of header */
    z-index: 3;
}

#footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;                           /* Set to final actual height of footer */
    z-index: 3;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 3px;
    background-color: #CED8DD;
	background-image: url(images/bottom-band.png);
	background-repeat: repeat-x;
    border-top: solid 1px #A3B1DA;
}

#content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 2px;
    margin-top: 71px;
    margin-bottom: 36px;
	height: auto;
    overflow: hidden;
}

#left-nav {
    /*position: absolute;*/
    color: #333366;
    background-color: #F1F2F2;
    width: 348px;
    /*top: 0px;*/
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    border-top-width: 1px;
	border-top-color: #F1F2F2;
	border-right-width: 1px;
	border-right-color: #A3B1DA;
	border-top-style: solid;
	border-right-style: solid;
	border-left-color: #F1F2F2;
	border-left-style: solid;
	border-left-width: 1px;
}

.left-nav-tab {
    overflow-x: hidden;
    position: absolute;
    bottom: 0px;
    top: 33px;
    width: 348px;
    background-color: #F1F2F2 !important;
    display: none;
}

#left-nav-tabs {
	padding-left: 2px !important;
    border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #A3B1DA;
	display: none;
}

.left-nav-top {
    border: none;
	border-bottom: solid 1px #A3B1DA;
    background: #BDD3E9 url(images/sidebar-topBG.png) repeat-x;
    padding: 10px;
	top: 33px;
    overflow: auto;
    min-height: 30px;
}

.ui-widget-content.popupMenu {
    background: white;
}

#left-nav-modules {
	padding: 0px !important;
}

#left-nav-files {
    padding: 0px;
    /*width: 348px;*/
    bottom: 85px;
}

#uploadTree {
    padding: 10px;
    position: absolute;
    top: 54px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 329px;
}

#genomeSpaceFileTree {
    padding: 10px;
    position: absolute;
    top: 54px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 319px;
}

#left-nav-genomespace {
	padding: 0px !important;
	/*width: 348px;*/
}

#left-nav-genomespace-logo {
    height: 30px;
}

#left-nav-genomespace-refresh {
    float: right;
}

.left-nav-genomespace-files {
    padding: 10px;
}

#left-nav-modules.ui-widget-content a {
	color: #000099;
}

#left-nav-modules.ui-widget-content a:hover {
	color: #6666FF;
}

.left-nav-top a {
    color: #000099;
}

.left-nav-top a:hover {
    color: #6666FF;
}

.search-box {
    width: 100%;
}

#pinned-modules, #recent-modules {
	padding: 10px;
}

#pinned-modules .module-list-empty {
	border: dashed 2px darkgray;
    font-size: 28px;
    line-height: 28pt;
    font-weight: 400;
	margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    text-align: center;
}

#module-browse-button {
    text-align: right;
    font-size: 8pt;
    margin-top: 3px;
}

#module-browse .module-doc {
	display: none;
}

#main-pane {
    position: absolute;
    padding-left: 27px;
    padding-right: 27px;
    border: none;
}

.jstree-leaf a {
	max-width: 260px;
	text-overflow: ellipsis;
}

.jstree > ul > li > a {
    max-width: 270px;
    padding-left: 20px;
    text-indent: -20px;
}

.jstree > ul > li > ul > li > a {
    max-width: 250px;
    padding-left: 20px;
    text-indent: -20px;
}

.jstree > ul > li > ul > li > ul > li > a {
    max-width: 230px;
    padding-left: 20px;
    text-indent: -20px;
}

.jstree > ul > li > ul > li > ul > li > ul > li > a {
    max-width: 210px;
    padding-left: 20px;
    text-indent: -20px;
}

.current-job-status {
	float:left;
	font-size: 8pt;
	position: relative;
	width: 150px;
	text-align: left;
	top: 2px;
}

.current-job-status img {
    position: relative;
    top: 5px;
    height: 17px;
}

.ui-draggable-dragging {
	background-image: url(images/sidebar-topBG.png);
	width: 322px;
}

#loading-modules {
	color: darkgray;
	padding: 15px;
	text-align: center;
}

#loading-modules h4 {
	color: darkgray;
}

#module-list-allnsuite .module-listing {
    background-image: linear-gradient(#F4F5F5, #EDEEEE);
}

#module-list-allnsuite .module-listing:hover {
    background-image: url(images/sidebar-topBG.png);
    background-repeat: repeat-x;
}

.module-list-title a {
    color: #5555CC;
}

.module-list-title a:hover {
    color: #7777FF;
}

.highlight {
    background-color: yellow !important;
}

.jstree li {
    white-space: normal !important;
}

.jstree a {
    word-break: break-all;
    white-space: normal !important;
    height: auto !important;
}

.jstree a:hover {
    color: #6666FF !important;
}

#pinned-modules .module-listing, #recent-modules .module-listing {
    height: 17px;
}

#recent-modules .module-listing .module-description {
    display: none;
}

#recent-modules .module-listing .module-tag {
    display: none;
}

#pinned-modules .module-remove {
    display: block;
}

#upload-dropzone {
    padding-left: 5px;
    margin: 5px;
    border: dashed 2px darkgray;
    bottom: 5px;
    left: 2px;
    width: 320px;
    font-size: 28px;
    line-height: 28pt;
    text-align: center;
    color: darkgray;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

#upload-dropzone:active {
    cursor: default;
}

#upload-dropzone-progress {
    margin: 5px;
    width: 275px;
    display: inline-block;
    float: left;
}

#upload-dropzone-progress-label {
    position: absolute;
    text-shadow: 1px 1px 0 #fff;
    width: 275px;
    text-align: center;
    top: 11px;
}

#upload-cancel {
    float: right;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    top: 5px;
}

#upload-cancel span {
    padding: 4px 5px 4px 5px;
}

#upload-dropzone-input {
    position: absolute;
    bottom: -100px;
}

#upload-dropzone-wrapper {
    color: darkgray;
    font-size: 10pt;
    line-height: 14pt;
    text-align: center;
    position: fixed;
    bottom: 35px;
    left: 0px;
    right: 0px;
    width: 349px;
    padding: 0px;
    margin: 0px;
    background-color: #F1F2F2;
}

#uploadDirectoryTree .jstree-leaf {
    display: none;
}

.file-widget {
    width: 360px;
}

.file-widget-actions h4, .job-widget-actions h4, .job-widget-code h4 {
    width: 305px;
    font-size: 9pt;
}

.send-to-module-list h4, .send-to-param-list h4 {
    width: 305px;
    font-size: 9pt;
}

.file-widget-actions .module-name {
    width: 100%;
    text-overflow: ellipsis;
}

 .file-widget-actions .module-listing, .job-widget-actions .module-listing {
    background-image: linear-gradient(#F4F5F5, #EDEEEE);
}

 .file-widget .module-name {
     width: 91%;
 }

.file-widget-actions .module-listing:hover, .job-widget-actions .module-listing:hover {
    background-image: url(images/sidebar-topBG.png);
    background-repeat: repeat-x;
}

.module-list-icon {
    float: left;
    padding: 3px;
    height: 32px;
    width: 32px;
}

#infoMessageDiv {
    font-size: 9pt;
    font-weight: bold;
    background-color: #F1FCF3;
    padding: 5px;
    border: 1px solid #A3CFA5;
    border-radius: 5px;
    margin: 5px;
}

#errorMessageDiv {
    font-size: 9pt;
    font-weight: bold;
    background-color: #FCF1F3;
    padding: 5px;
    border: 1px solid #CFA3A5;
    border-radius: 5px;
    margin: 5px;
}

#left-nav-jobs {
   /* width: 348px;*/
    padding: 0px;
}

#left-nav-jobs-refresh {
    float: right;
}

#left-nav-jobs-list {
    padding: 10px;
    position: absolute;
    top: 54px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 328px;
}

#left-nav-modules-list {
    position: absolute;
    top: 76px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 349px;
}

.job-status-icon {
    float: right !important;
    height: 16px;
    font-size: 5pt;
}

#left-nav-jobs .job-box {
    margin-top: 10px;
}

#left-nav-jobs > .job-box {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px;
}

#left-nav-jobs .job-name {
    font-size: 9pt;
    font-weight: bold;
    color: #333366 !important;
    /*padding-left: 20px;*/
    /*text-indent: -20px;*/
    overflow: auto;
}
#left-nav-jobs .job-details .job-name {
    font-size: 8pt;
}

#left-nav-jobs .job-name img {
    margin-right: 5px;
    cursor: pointer;
    float: left;
}

#left-nav-jobs .job-name a {
    display: block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

#left-nav-jobs .job-name a:hover {
    color: #6666FF;
}

#left-nav-jobs > .job-box > .job-name > a {
    width: 300px;
}

#left-nav-jobs .job-details {
    margin-left: 20px;
    font-style: italic;
    font-size: 7pt;
}

#left-nav-jobs .job-file {
    word-break: break-all;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    white-space: normal;
}

#left-nav-jobs .job-file a {
    font-style: normal;
    color: #000099 !important;
    font-size: 9pt;
    word-break: break-all;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    white-space: normal;
}

#left-nav-jobs .job-file a:hover {
    color: #6666FF !important;
}

#loading-jobs {
    text-align: center;
}

.menu-icon {
    position: relative;
    padding-left: 3px;
    top: 1px;
    height: 12px;
    float: none !important;
}

/* Upload Toaster */

.upload-toaster-file-name {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    vertical-align: bottom;
}

.upload-toaster-file-progress {
    width: 150px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    top: 9px;
}

.upload-toaster-file-progress-label {
    position: absolute;
    top: 5px;
    width: 150px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.upload-toaster-file-cancel {
    width: 70px;
}

#dialog-extend-fixed-container .upload-dialog {
    position: absolute;
    width: 343px;
    top: -68px;
    left: -1px;
}

/* Glyphicon stuff */

.file-widget-actions .module-listing, .job-widget-actions .module-listing {
    position: relative;
}

.file-widget-actions .module-version, .job-widget-actions .module-version {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    font-size: 24pt;
}

.file-widget-actions .module-name, .job-widget-actions .module-name {
    position: absolute;
    left: 50px;
}

.file-widget-actions .module-description, .job-widget-actions .module-description {
    position: absolute;
    top: 25px;
    left: 50px;
}

.file-widget-actions .module-html, .job-widget-actions .module-html {
    position: absolute;
    top: 42px;
    left: 47px;
}

#jobTable_wrapper {
    padding-bottom: 50px;
}

.send-to-tool-list .module-gear {
    display: none;
}

.leftnav-highlight {
    background-color: #cddcf1 !important;
    cursor: default !important;
}

#jobTable_filter {
    padding-bottom: 10px;
}


/*--------------------*/
/* layout for the left and right panel*/

.ui-layout-pane { /* all 'panes' */
    border: 1px solid #BBB;
}
.ui-layout-pane-center { /* IFRAME pane */
    padding: 0;
    margin:  0;
    overflow: auto;
}
.ui-layout-pane-west { /* west pane */
    padding: 0 10px;
    background-color: #EEE !important;
    overflow: auto;
}

.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDD;
    cursor: pointer !important;
}

.ui-layout-resizer-open:hover { /* mouse-over */
    background: #DDD; /*#9D9;*/
}

.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
}

.ui-layout-toggler-closed { /* closed toggler-button */
    background: #CCC;
    border-bottom: 1px solid #BBB;
}

/*.ui-layout-toggler:hover { /* mouse-over
    background: #DCA;
}*/

.ui-layout-toggler:hover .content { /* mouse-over */
    color: #009;
}

/* masks are usually transparent - make them visible (must 'override' default) */
.ui-layout-mask {
    /*background:	#C00 !important;*/
    opacity:	.20 !important;
    filter:		alpha(opacity=20) !important;
}


#main-pane iframe {
    padding:	0 !important; /* iframes should not have padding */
    overflow:	auto !important;
}

.toggle-btn{
    float: right;
    background: url(../../images/go-lt-off.gif) no-repeat center;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 4px;
}

.toggle-btn:hover
{
    background: url(../../images/go-lt-on.gif) no-repeat center;
    width: 17px;
    height: 17px;
}

.toggler-west-closed
{
    background: url(../../images/go-rt-off.gif) no-repeat center;
    width: 17px;
    height: 17px;
}

.toggler-west-closed:hover
{
    background: url(../../images/go-rt-on.gif) no-repeat center;
    width: 17px;
    height: 17px;
    background-color: #EBD5AA;
}
