#task_versions {
	margin-top: 0 !important;
}

.pHeaderTitleDiv
{
    margin-top: 9px;
    padding-top: 4px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: bold;
}

.paramGroupSection
{
    margin-right: 8px;
    padding: 2px 7px 9px 14px;
}

.pHeaderTitleDiv:hover
{
    cursor: pointer;
}

.top-level-background
{
    background-color: #AEC9E4;
}

.background
{
    background-color: #dae7f3;
}

.solid-border
{
    border-bottom: 2px solid #BDD3E9;
}

.paramgroup-spacing
{
    margin-bottom: 15px;
}

.paramSectionToggle
{
    vertical-align: middle;
}

.pHeaderDescription
{
    font-size: 12px;
    margin: 5px 4px 6px -8px;
}

.paramsTable
{
    min-width: 630px;
    margin-right: 14px;
    height: 100%;
    border-collapse: collapse;
}

tr.pRow td
{
    border-top: 2px solid #F0F0F0;
}

#submitJob
{
    margin-left: -12px;
}

#main-pane tr:first-child td
{
    border: none;
}

#main-pane td
{
    padding-top: 7px;
}

tr.paramDescription td
{
    padding-top: 0;
    padding-bottom: 2px;
}

.paramsTable tr td:nth-child(even)
{
/*    padding-left: 14px;*/
    white-space: normal;
}

.pTitle
{
    white-space: nowrap;
    padding-right: 10px;
    margin-right: 8px;
}

.task_header
{
    clear: both;
	font-weight: bold;
	font-size: 15px;
    background-color: #e5ebe9;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: bottom !important;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

.task_header select
{
    padding: 0 !important;
    margin-bottom: 0 !important;
    vertical-align: top !important;
}

.task_header div
{
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.task_header span
{
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.task_header label
{
    font-weight: normal;
    font-size: 13px;
    padding: 0;
    margin-bottom: 0;
}

.clear
{
    clear: both;
}

.paramDescription
{
    white-space: normal;
    font-size: 11px;
}

.hidden
{
    clear: both;
    display: none;
}

.runtask-highlight
{
    background-color: #cddcf1 !important;
    cursor: copy;
}

.paramFilesTable
{
    width: 100%;
}

table.paramFilesTable tr td
{
    height: 10px !important;
    padding: 4px !important;
    white-space: normal;
    overflow: hidden;
}

table.paramFilesTable tr td.pfileAction
{
    width: 19px;
    padding-left: 1px;
    text-align: center;
}

table.paramFilesTable tr:nth-child(odd)
{
    background-color: #eee;
}

button.urlButton
{
    font-size: 11px;
    padding: 0;
    position: relative;
    top: -5px;
}

/*.paramsTable td:first-child
{
    width: 15px;
}

.paramsTable tr:nth-child(odd)
{
    border-bottom: 1px solid #7898c7;
}
*/

#submitJob
{
    min-width: 820px;
}

.paramsTable input[type=text]
{
    width: 295px;
    height: 17px;
}

.fileDiv
{
    vertical-align: bottom;
    padding: 9px 10px 10px 10px;
    min-width: 570px;
    margin-bottom: 0;
    display: inline-block;
    white-space: normal;
    word-break: break-all;
}

.fileDiv button img
{
    margin-left: 5px;
    margin-right: 5px;
}

.uploadBtn
{
    vertical-align: bottom;
    margin-right: 7px;
    position: relative;
    top: -5px;
}

.errorMessage
{
    font-weight: bold;
    color: red;
}

.errorMessageBig
{
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.elemSpacing
{
    margin: 0 7px 0 7px;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

#fileUploadDiv
{
    padding: 2px;
    margin-bottom: 10px;
}

.progress-label
{
    float: left;
    margin-left: 50%;
    text-shadow: 1px 1px 0 #fff;
    margin-top: 6px;
}

.fileDetails
{
    margin: 10px 0 6px 0;
}

.otherControlsDiv
{
    padding: 3px !important;
    margin-bottom: 5px !important;
    vertical-align: bottom !important;
}

.submitControlsDiv
{
    margin-bottom: 5px !important;
}

.links
{
    margin-left: 2px;
    margin-right: 2px;
}

/* styling for name of parameter in run task form */
.pTitle
{
    font-weight: bold;
}

img.buttonIcon {
	padding-right: 5px;
	margin-left: -5px;
	vertical-align:top;
}

.whiteBg
{
    background-color: white;
}

#mod_description
{
    float: left;
}

#mod_description_toggle
{
    vertical-align: 2%;
}


#description_main
{
    font-size: 12px;
    width: 100%;
}


#source_info
{
    margin: 2px 5px 5px 5px;
    text-align: right;
    white-space:nowrap;
}

#source_info img
{
    margin-right: 2px;
    vertical-align:middle;
}

#source_info_details
{
    margin: 2px 5px 5px 30px;
}

#source_info_tooltip
{
    z-index: 9000;
    position: absolute;
    float: right;
    background-color: white;
    max-width: 280px;
    padding: 10px;
    margin-top: -17px;
    /*margin: -17px -5px -5px -50px; */
    -webkit-box-shadow:0 0 5px #aaa;
    box-shadow:0 0 5px #aaa;
    text-align: left;
    white-space: normal;
}

#paramsListingDiv .ui-state-default
{
	background-repeat:repeat-x;
	border: solid 1px #466eb6;
	background-color:#dae4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding:1px;
	font-size:11px;
}

#paramsListingDiv .ui-state-hover
{
	color: black;
    background: #80a7d0 url(images/ui-bg_glass_75_B2D1F0_1x400.png) 50% 50% repeat-x;     
}

#paramsListingDiv .ui-state-active
{
	color: black;
    background: #80a7d0 url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
}

#paramsListingDiv .ui-widget-header .ui-icon
{
	background-image: url(images/ui-icons_0c1922_256x240.png);
}

#paramsListingDiv .ui-state-default .ui-icon 
{
	background-image: url(images/ui-icons_0c1922_256x240.png) !important;
}

.selectChoice .ui-multiselect {
	width: 300px !important;
}

.center
{
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}

.inputFileBtn
{
    position:absolute;
    z-index:-1000;
}

.ui-multiselect.mSelect 
{
    padding: 2px 3px 1px 10px !important;
    text-align: left;
    color: white;
    border: 2px solid #ff1493;
}

.errorHighlight
{
    text-align: left;
    border: 2px dotted #ff1493 !important;
}

#paramsListingDiv .images
{
    border: none !important;    
}

#paramsListingDiv .scroll
{
    max-height:160px;
    overflow:auto;
}

hr
{
    color: #D0D0D0;
    background-color: #D0D0D0;
}

#task_version_main
{
    margin-left: 17px;
}

.ui-iconbutton
{
    background: transparent;
    border: none;
}

.ui-menu
{
    width: 220px;
}

#documentation 
{
    text-decoration:underline;
}

#otherOptionsSubMenu {
	font-size: 8pt;
}

#otherOptionsSubMenu label {
	font-size: 8pt !important;
}

#otherOptionsDiv
{
    padding: 0;
    position: relative;
}

#otherOptions
{
    margin: 0 0 0 30px;
}

#otherOptions:hover
{
    cursor: pointer;
}

.normal
{
    font-weight: normal;
    font-size: 12px;
}

#documentation
{
    font-weight: normal;
    font-size: 11px;
}

#viewCodeDiv
{
    border: 2px solid #80a7d0;
    margin: 14px 0 14px 0;
    padding: 5px 5px 5px 14px;
}

#viewCodeHeader
{
    font-size: 11px;
    font-weight: bold;
}

.fileDiv .batchBox {
	float: right;
	top: 0px;
	position: relative;
	margin-top: -10px;
	padding: 0px;
}

.fileDiv .batchBox label {
	font-size: 8pt !important;
	background-image: none !important;
	padding: 0px !important;
}

.fileDiv .ui-buttonset label.ui-corner-left {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
}

.fileDiv .ui-buttonset label.ui-corner-right {
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.fileDiv .ui-buttonset label.ui-state-default {
	background: #FFFFFF !important;
	color: #999999 !important;
}

.fileDiv .ui-buttonset label.ui-state-active {
	background: #dae4f4 !important;
	color: #000000 !important;
}

span.drop-box
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 28pt;
    width: 120px;
    height: 20px;
    text-align:center;
    padding-top:5px;
    margin-left: 9px;
    padding: 5px 10px 5px 10px;
    color: darkgray;
    letter-spacing: 1px;
}

.fileChoiceOptions .ui-button-text
{
    padding: 2px;
    margin: 1px;
    font-size: 11px;
}

.fieldTypeToggle
{
    margin-bottom: 8px;
}

.valueEntryDiv
{
    margin-top: 5px;
    margin-bottom: 15px;
}

.groupingDiv
{
    margin-bottom: 7px;
}

.mainDivBorder {
    vertical-align: bottom;
    border: 2px dashed darkgray;
    padding: 8px 6px 6px 6px;
    white-space: normal;
    word-break: break-all;
}

#otherOptionsMenu
{
    font-size: 13px;
    min-width: 238px;
}

.fileSizeCaption
{
    font-size: 10px;
    font-style:italic;
    margin-left: 5px;
}

.uploadFileBtnDiv
{
    float:left;
    margin-top: 8px;
}

.commentsContent
{
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.commentsContent textarea
{
    min-width: 98%;
}

.tagsContent
{
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

div.tagsinput span.tag
{
    background:   lightgray;
    border: 1px solid #000099;
    color: #3333CC;
}

div.tagsinput span.tag a
{
    color: #3333CC;
}
