#homeIndent{
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.splashpage {
	background-color: #F1F2F2;
	padding: 5px 20px 20px;
	border: 1px solid #A3B1DD;
    border-radius: 5px;
}

.splashpage h1 {
	font-size: 18px;
	color: #333366;
	font-weight: bold;
	margin: 0px;
	padding: 10px 0px 20px;
}

.splashpage_list {
	/* margin-left: 40px; */
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0;
	padding-top: 0px;
	padding-bottom: 0px;
}

.splashpage_list_item {
	clear: both;
    min-height: 50px;
}

.splashpage_list_img {
	float: left;
	padding-left: 12px;
	padding-bottom: 12px;
}

.splashpage_list_block {
	/* aligns text to the right of the image, in case there is a lot of text. */
	padding-left: 72px;
	padding-bottom: 12px;
}

/* places the new-win-icon.gif to the right of the link */
.splashpage_list a {
	font-weight: bold;
	font-size: 12px;
    background-image: url(../images/new-win-icon.gif);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 14px;
}

.splashpage_table {
	margin: 0px 
	auto;
}

.splashpage table.parameter td,th {
	padding:4px 10px 2px 10px;
}

.optionsHead {
	font-size: 12px;
}

.splashpage_with_bg {
	padding: 10px 20px 20px;
	border: 1px solid #A3B1DD;
    border-radius: 5px;
	background: transparent url(images/NBbanner.jpg) center center no-repeat;
	background-size: cover;
}

.innerdiv {
	background-color: rgba(17,34,67,.3);
	padding: 5px 20px 10px;
	border: 1px solid #A3B1DD;
    border-radius: 5px;
    margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 100px;
}

.splashpage_with_bg a {
	font-size: 12px;
	color: #ACC6EF;
	text-align: left;
}

.splashpage_with_bg p {
	font-size: 12px;
	color: white;
	text-align: left;
}

.splashpage_with_bg h1 {
	color: white;
	text-align: center;
}

.notebookdiv div {
    background-image:url(/gp/images/gpnb_banner.jpg); 
    text-align:center;
    padding:20px;
    border-radius:10px; 
    background-repeat: no-repeat; 
    background-color: #2f4982;
    background-position: center;
    font: normal 18px/1.48 "Source Sans Pro", sans-serif; 
    color: white;
    align: center;
}

.notebookdiv a {
    color: #ACC6EF;
}

