body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	background-image: url(images/bkg1.gif);
	background-repeat: repeat-x;
}
a {
	color: #000099;
	text-decoration: none;
}
a:hover {
	color: #6666FF;
	text-decoration:  none;
}
a:active {
	color: #CCCCFF;
	text-decoration: none;
}

img {
	border: none;
}

.systemMessageForm
{
    color: red;
	border-width: 1px;
	border-style: solid;
	border-color:  #cccccc;
	padding: 2px;
}


/* To customize the background color of your system message, wrap your message with a div
   <div class="systemMessageAlert">
   </div>
*/
.systemMessageAlert
{
    color: #000000;
    /* red background */
    background-color: #ffcccc;
}
.systemMessageOk
{
	color: #000000; 
	/* green background */
	background-color: #D8F7D8; 
}

#systemMessageLink {
	position: absolute;
	right: 0px;
	width: 500px;
    top: 5px;
    height: 30px;
    z-index: 9;
}

#systemMessageLink table {
	font-size: 8pt;
	text-shadow: 1px 1px #000000;
    width: 500px;
}

#showSystemMessageSpan a {
	color: #FF8888 !important;
}

.topband {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:48px;
	z-index:3;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/header.png);
	background-repeat:no-repeat;
}
.topband a {
	color: #ffffff;
	text-decoration: none;
}
.topband a:hover {
	color: #000099;
	text-decoration:  none;
}
.topband a:active {
	color: #000099;
	text-decoration: none;
}

#topband img {
	opacity: 0;
	width: 280px;
}



.navband1 {
	position:absolute;
	left:0px;
	top:48px;
	width:100%;
	height:23px;
	z-index:20;
	font-size: 11px;
	line-height: 21px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #F1F2F2;
	vertical-align: top;
	text-indent: 77px;
	white-space: nowrap;
    
}
.navband1 a {
	color: #FFFFFF;
	text-decoration: none;
}
.navband1 a:hover {
	color: #CCCC66;
	text-decoration: none;
}
.navband1 a:active {
	color: #CCCCFF;
	text-decoration: none;
}




.navband1-on {
	color: #CCCCFF;
	text-decoration: none;
}
.navband1-on a {
	color: #CCCCFF;
	text-decoration: none;
}
.navband1-on a:hover {
	color: #CCCC66;
	text-decoration: none;
}
.navband1-on a:active {
	color: #CCCCFF;
	text-decoration: none;
}



.content {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	z-index:2;
	height: 100%;
}

#content > table {
	height: 100%;
	padding-top: 71px;
}

#content > table > tbody {
	background-color: white;
}


.tasks {
	left:0px;
	top:101px;
	width:242px;
	z-index:3;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #333366;
	text-decoration: none;
	background-color: #F1F2F2;
	padding-top: 0px;
	padding-bottom: 20px;
	vertical-align: top;
	overflow: auto;
	border-top-width: 1px;
	border-top-color: #F1F2F2;
	border-right-width: 1px;
	border-right-color: #A3B1DA;
	border-top-style: solid;
	border-right-style: solid;
	border-left-color: #F1F2F2;
	border-left-style: solid;
	border-left-width: 1px;
}
.tasks a{
	color: #333366;
	text-decoration: none;
}
.tasks a:hover {
	color: #6666FF;
	text-decoration: none;
	background-color: #FAFAF3;
}
.tasks a:active {
	color: #3333CC;
	text-decoration: none;
	background-color: #FAFAF3;
}


.tasks_on {
	background-color: #FAFAF3;
	color: #6666FF;
	text-decoration: none;
}
.tasks_on a{
	color: #6666FF;
	text-decoration: none;
}
.tasks_on a:hover {
	color: #6666FF;
	text-decoration: none;
}
.tasks_on a:active {
	color: #6666FF;
	text-decoration: none;
}


.task-categories {
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color: #333366;
	text-decoration: none;
}
.task-categories a{
	color: #333366;
	text-decoration: none;
}
.task-categories a:hover {
	color: #6666FF;
	text-decoration:  none;
	background-color: #EBEBCE;
}
.task-categories a:active {
	color: #3333CC;
	text-decoration: none;
	background-color: #EBEBCE;
}


.task-mine {
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
}
.task-mine a{
	color: #990000;
	text-decoration: none;
}
.task-mine a:hover {
	color: #6666FF;
	text-decoration:  none;
	background-color: #FAFAF3;
}
.task-mine a:active {
	color: #3333CC;
	text-decoration: none;
	background-color: #FAFAF3;
}




.maintasknav {
	left:242px;
	top:101px;
	height:20px;
	z-index:3;
	font-size: 9px;
	line-height: 15px;
	color: #000099;
	text-decoration: none;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 27px;
	padding-left: 27px;
	text-align: right;
}
.maintasknav a {
	color: #000099;
	text-decoration: none;
}
.maintasknav a:hover {
	color: #6666FF;
	text-decoration:  none;
}
.maintasknav a:active {
	color: #CCCCFF;
	text-decoration: none;
}




.maintasknav2 {
	left:242px;
	top:101px;
	height:20px;
	z-index:3;
	font-size: 9px;
	line-height: 15px;
	color: #000099;
	text-decoration: none;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-top: 5px;
	text-align: right;
}
.maintasknav a {
	color: #000099;
	text-decoration: none;
}
.maintasknav a:hover {
	color: #6666FF;
	text-decoration:  none;
}
.maintasknav a:active {
	color: #CCCCFF;
	text-decoration: none;
}


.maincontent {
	left:242px;
	min-width: 570px;
	z-index:4;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-top: 9px;
	padding-right: 27px;
	padding-bottom: 100px;
	padding-left: 27px;
}

.maincontent a{
	color: #000099;
	text-decoration: none;
}
.maincontent a:hover {
	color: #6666FF;
	text-decoration:  none;
}
.maincontent a:active {
	color: #CCCCFF;
	text-decoration: none;
}






.barhead-task {
	font-weight: bold;
	font-size: 14px;
	color: #333366;
	background-color: #CCCCFF;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
}
.barhead-task a {
	color: #333366;
}
.barhead-task a:hover {
	color: #6666FF;
}
.barhead-task a:active {
	color: #FFFFFF;
}

.barhead-pipeline {
	font-weight: bold;
	font-size: 14px;
	color: #333366;
	background-color: #CCCCFF;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
}
.barhead-other {
	font-weight: bold;
	font-size: 14px;
	color: #333366;
	background-color: #e5EBe9;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
    border-radius: 5px;
}
.barhead-version {
	font-size: 11px;
	font-weight: normal;
	color: #333366;
}
.attribute {
	font-size: 11px;
	width: 100%;
}
.attribute-required {
	font-size: 11px;
	font-weight: normal;
}
.description {
	font-size: 9px;
	color: #000000;
	line-height: 11px;
}
.alternatingtablebkg {
	background-color: #E8E8F9;
}




.recentjobs {
	left:800px;
	top:101px;
	width:203px;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	z-index:3;
	color: #333366;
	text-decoration: none;
	background-color: #F1F2F2;
	padding-top: 0px;
	padding-bottom: 20px;
	vertical-align: top;
	overflow: auto;
	border-top-color: #F1F2F2;
	border-right-color: #F1F2F2;
	border-left-color: #A3B1DA;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}
.recentjobs a {
	color: #333366;
	text-decoration: none;
	font-weight: normal;
}
.recentjobs a:hover{
	color: #6666FF;
	text-decoration:  none;
	font-weight: normal;
}
.recentjobs a:active{
	color: #3333CC;
	text-decoration: none;
	font-weight: normal;
}


.recentjobs-sh {
	color: #333366;
	text-decoration: none;
	font-weight: bold;
}
.recentjobs-sh a {
	color: #333366;
	text-decoration: none;
	font-weight: bold;
}
.recentjobs-sh a:hover{
	color: #6666FF;
	text-decoration:  none;
	font-weight: bold;
}
.recentjobs-sh a:active{
	color: #3333CC;
	text-decoration: none;
	font-weight: bold;
}



.sidebarhead-bkg {
	background-color: #BDD3E9;
	height: 55px;
    border:none;
	border-bottom: solid 1px #A3B1DA;
    background-image: url(images/sidebar-topBG.png);
	background-repeat: repeat-x;
}
.sidebarhead {
	font-weight: bold;
	font-size: 11px;
	line-height: 15px;
	color: #333366;
	text-decoration: none;
	text-indent: 10px;
}
.viewchoice {
	font-size: 9px;
	line-height: 15px;
	color: #000099;
	text-decoration: none;
	text-indent: 10px;
	font-weight: normal;
}
.sidebarhead-bkg2 {
	background-color: #BDD3E9;
	height: 32px;
    border:none;
	border-bottom: solid 1px #A3B1DA;
    background-image: url(images/sidebar-topBG.png);
	background-repeat: repeat-x;
}



.loginsettings {
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	color: #ffffff;
	text-decoration: none;
	position:absolute;
	right:5px;
	top:7px;
	z-index:40;
	width: 100%;
	height: 25px;
	text-align: right;

}
.loginsettings a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.loginsettings a:hover{
	color: #ccecFF;
	text-decoration: none;
	font-weight: bold;
}
.loginsettings a:active{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}


.footer {
	height: 30px;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-color: #CED8DD;
    background-image: url(images/bottom-band.png);
    background-repeat: repeat-x;
	vertical-align: middle;
	padding: 10px;
	border-top: solid 1px #A3B1DA;
}
.footer a {
	color: #231F20;
	text-decoration: none;
}
.footer a:hover {
	color: #000000;
	text-decoration:  none;
}
.footer a:active {
	color: #666666;
	text-decoration:  none;
}


.taskperameter {
	background-color: #FFFFFF;
}
.taskperameter td{
	background-color: #FFFFFF;
 	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCFF;
}
.taskperameter-on {
	background-color: #FFFFFF;
}
.taskperameter-on td{
	background-color: #f1f1fd;
 	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCFF;
}


.taskperameter-2 {
	background-color: #FFFFFF;
}
.taskperameter-2 td{
	background-color: #FFFFFF;
 	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #CCCCFF;
}

.pipelineperameter {
	background-color: #FFFFFF;
}
.pipelineperameter td{
	background-color: #FFFFFF;
 	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #CCCCFF;
}
.pipelineperameter-on {
	background-color: #FFFFFF;
}
.pipelineperameter-on td{
	background-color: #f1f1fd;
 	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #CCCCFF;
}

.pipelineperameterinputText{
	width: 420px;
}
.pipelineperameterinputText_short{
	width: 120px;
}
.pipelineperameterinputTextArea{
	width: 420px;
}
.pipelineperameterinputFile{
	width: 425px;
}

.settingperameter {
	background-color: #FFFFFF;
}
.settingperameter td{
	background-color: #FFFFFF;
 	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCFF;
}
.smalltype {font-size: 9px;}
.smalltype2 {
	font-size: 9px;
	line-height: 9px;
}
.smalltype3 {
	font-size: 9px;
	line-height: 11px;
}
.smalltype4 {
	font-size: 9px;
	line-height: 11px;
}
.smalltype4 td{
	background-color: #f1f1fd;
}

.smalltype5 {
	font-size: 9px;
	font-weight:normal;
}

.tableheader-row2 {
	color: #333366;
	font-weight: bold;
	line-height: 18px;
	font-size: 11px;
}
.tableheader-row2 td{
	color: #333366;
	font-weight: bold;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #9999CC;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #9999CC;
	background-color: #FFFFFF;
}
.tableheader-row3 {
	color: #333366;
	font-weight: bold;
	line-height: 13px;
	font-size: 11px;
}
.tableheader-row3 td{
	color: #333366;
	font-weight: bold;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #9999CC;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #9999CC;
	background-color: #FFFFFF;
}

.admin-row td, .admin-row th{
    vertical-align: baseline;
    padding-top: 2px;
 	padding-right: 20px;
 	padding-bottom: 6px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
.pipeline_item {
	border-style: solid;
	border-color: #9999CC;
	border-width: 2px;
}
.pipeline_item2 {
	border-style: solid;
	border-color: #9999CC;
	border-width: 2px;
}

/* This is the content wrapper for the tan border at the top of create pipeline */
.pipeline_top {
	border-style: solid;
	border-color: #9999CC;
	border-width: 2px;
}

.purge_notice {
	font-weight: bold;
	color: #990000;
}

.prompt-window {
	background-color: #FFFFFF;
	border: solid #333366 2px;
	position:absolute;
	z-index:300;
	width: 300px;
	height: auto;
	padding: 10px;
	color: #333366;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	visibility: hidden;
	left: 20%;
	top: 600px;
}
.download_code {
	background-color: #FFFFFF;
	border: solid #CCCCFF 2px;
	padding: 10px;
	color: #333366;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
}
input.error, select.error {
	border: 1px solid red;
	background-color: #FFFCE2;
	background-position: right;
	background-repeat: no-repeat;
}
.server_error_message {
    background-color: #FFFFFF;
    border: solid #CCCCFF 2px;
    padding: 10px;
    color: #990000;
    font-weight: normal;
}

.validation-error {
	color: red;
	font-weight: bold;
}

.validation-warning {
	color: orange;
	font-weight: bold;
}

/*CSS for license UI */
.license-center
{
    text-align: center;
}

.barhead-license-task {
	font-weight: bold;
	font-size: 11px;
	color: #333366;
	background-color: #9999CC;
	text-indent: 6px;
	height: 19px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
    margin-top: 10px;
}

.license-content
{
    width: 100%;
}

.license-version
{
    float: right;
    font-size: 11px;
	font-weight: normal;
	color: #333366;
}

.license-agree-text
{
    font-size: 12px;
    font-weight: bold;
    color: #333366;
}

.license-lsid
{
    font-size: 9px;
    text-align: right;
}
/*End CSS for license UI  */


img.repo-logo
{
    padding-right: 8px;
}

h3.repo-name
{
    margin-bottom: -1px;
    color: #000000;
}

p.short-description
{
    font-size: 11px;
    margin-top: 0;
    margin-bottom: -10px;
}

p.long-description
{
    margin-top: -5px;
}

td.filter-type
{
    font-size: 13px;
}

td.filter-option-title
{
    background-color: #ddd;
}

table.filter-options {
    border: solid 1px #777;
    margin-bottom: 5px;
}

table.filter-options > tbody > tr > td
{
    padding: 3px;
    padding-left: 10px;
    padding-right: 20px;
}

strong.filtered-number
{
    color: #36C;
}

#repositoryChooser
{
    font-family: Arial, Verdana, Geneva, sans-serif;
    font-size:13px;
    line-height: 16px;
    color: #000000;
}

#user-box-main {
    height: 30px;
    width: 130px;
    z-index: 6000;
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    border-radius: 0 0 0 5px;
    color: white;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
}

#quota-box-main {
    width: 145px;
    z-index: 6000;
    position: fixed;
    right: 0;
    top: 54px;
    padding: 5px;
    border-radius: 0 0 0 5px;
    color: white;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
}

#quota-box {
    top: 0;
    position: absolute;
    width: 150px;
    font-size: 7pt;
    font-weight: bold;
    cursor: pointer;
    right: 5px;
}

#quota-space-progressbar {
    height: 10px;
}

.ui-progressbar.quota-space-yellow  .ui-progressbar-value{
    background: rgba(192, 192, 0, 0.5);
}

.ui-progressbar.quota-space-red .ui-progressbar-value {
    background: rgba(202, 96, 96, 0.5);
}

#quota-space-label {
    position: absolute;
    font-size: 6pt;
    width: 150px;
    text-align: center;
    top: -1px;
    text-shadow: none;
}

#user-box {
    position: absolute;
    right: 10px;
    font-size: 14pt;
    top: 5px;
    color: white;
    text-align: right;
    cursor: pointer;
}

#user-box-name {
    font-size: 7pt;
    font-weight: bold;
    color: white;
    text-align: right;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
}

.user-box-arrow {
    font-size: 10pt;
    position: relative;
    top: -6px;
}

#congestion-box {
    font-size: 20pt;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 6001;
}

.congestion-light {
    display: inline-block;
    font-size: 8pt;
    cursor: pointer;
    text-align: center;
}

.congestion-icon {
    font-size: 30pt;
    text-shadow: 1px 1px black;
}

.congestion-green {
    color: rgb(105, 153, 105)
}

.congestion-yellow {
    /* color: rgb(192, 192, 0); */ /* actually yellow */
    color: rgb(235,182,48); /* orange is the new yellow */
}

.congestion-red {
    color: rgb(202, 96, 96);
}

.congestion-label {
    font-size: 7pt;
    width: 15px;
    line-height: 8pt;
    display: inline-block;
    position: relative;
    top: -3px;
    left: -13px;
}

#user-menu {
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 6001;
    width: 150px;
}

#jobTableSearch
{
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

#jobTableSearch span
{
    margin-left: 70px;
}

.float-left
{
    float: left;
}

#jobSearchOwner, #jobSearchComment, #jobSearchTag
{
    margin-left: 5px;
}

#jobTags a
{
    padding: 1px;
}

#statusJobTags_tag
{
    min-width: 150px;
}

#jobTable_length
{
    margin-top: 5px;
    margin-right: 130px;
}

.inline
{
    display:inline-block;
}

#jobTable_paginate input[type=text]
{
    min-width: 45px;
}

#jsViewer
{
    height: 80%;
    /*overflow: auto;*/
    overflow: hidden;
    width: 100%;
}

#jsViewerInfoBar
{
    background-color: #EAEAEA; /*#F8F8F8;*/
    line-height: 20px;
    padding-top: 2px;
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    /*margin-left: -30px;*/
    padding-left: 15px;
    left: 30px;
    /*margin-right: -80px; */
}
