.boldtype {font-weight: bold}
.smalltype {font-size: 9px}

.jobresults-header-1 td, 
.jobresults-header-2 td 
{
    color: #666633;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    padding-right: 12px;

    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #CCCCCC;
}

.jobresults-header-2 td 
{
    border-top-width: 1px;
    border-top-color: #EBEBFB;
}

.jobresults-header-1 a, 
.jobresults-header-2 a
{
    color: #666633;
}
	
.tableheader-row, .tableheader-row td {
    background-color: #EEEEEE;
    font-weight: bold;
    line-height: 20px;
}

.tableheader-row td
{
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #CCCCCC;
	background-color: #FFFFFF;
    white-space: nowrap;
    padding-right: 12px;
}

.tableheader-row a
{
    color: #002C5C;
}

.sorting_text {
	color: #666633;
	font-size: 9px;
	font-weight: normal;
	text-align: right;
	margin-top: 3px;
 }
.bluetype {color: #000099}
.task-titlerow {
	background-color: #EEEEEE;
	line-height: 20px;
}
.task-titlerow td{
	background-color: #EEEEEE;
 	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #CCCCCC;
	white-space: nowrap;
	padding-right: 12px;
}
.task-titlerow-actions {
    background-color: #EEEEEE;
    line-height: 20px;
}
.task-titlerow-actions td{
    background-color: #EEEEEE;
}

.task-title {
	background-color: #EEEEEE;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.task-title td{
	background-color: #EEEEEE;
 	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #CCCCCC;
}

.task-title a{
	text-decoration: none;
	color: #000000;
}

.task-title a:hover {
	color: #333399;
	text-decoration: none;
}

.task-title a:active {
	color: #6666FF;
	text-decoration: none;
}

.pipelinetask-titlerow {
	background-color: #EEEEEE;
	line-height: 20px;
	text-decoration: none;
	color: #000000;
}
.pipelinetask-titlerow td{
	background-color: #EEEEEE;
 	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #EBEBFB;
}
.pipelinetask-title {
	background-color: #EEEEEE;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	text-indent: 40px;
}


.files, .files td, .files-nolines, .pipelinefiles {
	background-color: #FFFFFF;
	line-height: 20px;
}

.files td{
 	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #EBEBFB;
    padding-right: 12px;
    white-space: nowrap;
}

.pipelinefiles {
	text-indent: 40px;
}


.files-nolines td{
	background-color: #FFFFFF;
 	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
}

.checkbox_column {
	text-align: center;
	padding-right: 12px;
}

.status-finished {color: #666633; }
.status-error {color: #990000;}
.status-processing {color: #339900; }
.status-pending {color: #666666; }

.sortwindow {
	background-color: #FFFFFF;
	border: solid #666633 2px;
	position:absolute;
	visibility: hidden;
	z-index:99;
	width: auto;
	height: auto;
	top: 20%;
	right: 20%;
	padding: 5px;
	color: #666633;
	font-size: 9px;
	font-weight: normal;
	line-height: 18px;
}
