.modtopband {
	left:0px;
	top:0px;
	width:100%;
	height:48px;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #CCCC99;
	background-image: url(../../images/header.png);
	background-repeat: repeat-x;
}
.modtopband a {
	color: #000099;
	text-decoration: none;
}
.modtopband a:hover {
	color: #000099;
	text-decoration:  none;
}
.modtopband a:active {
	color: #000099;
	text-decoration: none;
}



.modnavband1 {
	left:0px;
	top:48px;
	width:100%;
	height:23px;
	font-size: 11px;
	line-height: 21px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #446688;
	vertical-align: top;
	text-indent: 77px;
	white-space: nowrap;
    background-image: url(../../images/menubarBG.png);
	background-repeat: repeat-x;
}
.modnavband1 a {
	color: #FFFFFF;
	text-decoration: none;
}
.modnavband1 a:hover {
	color: #eeeeee;
	text-decoration: none;
}
.modnavband1 a:active {
	color: #CCeeFF;
	text-decoration: none;
}


.modnavband1-on {
	color: #CCCCFF;
	text-decoration: none;
    
}
.modnavband1-on a {
	color: #CCCCFF;
	text-decoration: none;
}
.modnavband1-on a:hover {
	color: #CCCC66;
	text-decoration: none;
}
.modnavband1-on a:active {
	color: #CCCCFF;
	text-decoration: none;
}

