<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- Mac OS X users: This example launchd.plist file to launch your GenePattern Server as a daemon. 
                     For more information consult the launchd and launchd.plist man pages.
-->
<!-- Don't forget to use the path to where you installed genepattern -->
<dict>  
    <key>Label</key>
    <string>org.genepattern.StartGenePatternServer</string>
    <!-- include your username here
    <key>UserName</key>
    <string></string>
    -->
    <key>Disabled</key> <!-- set this to false to enable this -->
    <true />
    <key>OnDemand</key>
    <false />
    <key>RunAtLoad</key>
    <true />
    <key>KeepAlive</key>
    <true />
    <key>WorkingDirectory</key>
    <string>/Applications/GenePatternServer/Tomcat</string>
    <key>StandardOutPath</key>
    <string>/Applications/GenePatternServer/launchd.stdout</string>
    <key>StandardErrorPath</key>
    <string>/Applications/GenePatternServer/launchd.stderr</string>
    <key>ProgramArguments</key>
    <array> 
        <string>/Applications/GenePatternServer/Tomcat/bin/catalina.sh</string>
        <string>run</string>
    </array>
</dict>
</plist>
