textarea {
padding: 10px;
width: 500px;
font-family: Arial, 'sans-serif';
font-size: 12px;
}

.heading {
margin: 1px;
padding: 3px 10px;
cursor: pointer;
position: relative;
color: #333366;
background-color: #DFDFB9;
}


/* Splitbar styles; these are the default class names */

.vsplitbar {
	width: 6px;
	background: #669 url(images/vgrabber.gif) no-repeat center;
}
.vsplitbar:hover, .vsplitbar.active {
	background: #c66 url(images/vgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
.hsplitbar {
	height: 6px;
	background: #669 url(images/hgrabber.gif) no-repeat center;
}
.hsplitbar.active, .hsplitbar:hover {
	background: #c66 url(images/hgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}

html, body
{
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	overflow: hidden;	/* Remove scroll bars on browser window */
}