.det_textarea {
padding: 10px;
width: 600px;
font-family: Arial, sans-serif;
font-size: 0.75em;
}

.heading {
margin: 0;
padding: 0.125em 0.625em;
font-size: 0.8125em;  
cursor: pointer;
position: relative;
color: #333366;
background-color: #DFDFB9;
}

table
{
    font-size: 0.8125em;
}

td {
    padding: 3px;
}


/* Splitbar styles; these are the default class names */

.vsplitbar {
	width: 6px;
	background: #669 url(images/vgrabber.gif) no-repeat center;
}
.vsplitbar:hover, .vsplitbar.active {
	background: #c66 url(images/vgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
.hsplitbar {
	height: 6px;
	background: #669 url(images/hgrabber.gif) no-repeat center;
}
.hsplitbar.active, .hsplitbar:hover {
	background: #c66 url(images/hgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
/*----------Splitbar styles end-----------*/

html, body
{
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	overflow: hidden;	/* Remove scroll bars on browser window */
}

#modtitle
{
    font-size: 0.875em;
}

p
{
    font-size: 0.8125em;        
}

div.ui-layout-north
{
    overflow: hidden;
}

.parameters
{
    border-style:dotted;
    border-width:thin;
    border-color:#333366;
    margin: 4px;
}