export(
  gp.login,
  run.analysis,
  run.analysis.no.wait,
  create.job.result,
  is.complete,
  run.visualizer,
  get.parameters,
  input.prompt,
  gp.get.module.file.url,
  job.result.get.url,
  job.result.get.output.filenames,
  job.result.get.url.for.file.type,
  job.result.get.job.number,
  job.result.download.file,
  job.result.download.files,
  job.result.get.server.url,
  job.result.get.lsid,
  job.result.has.standard.out,
  job.result.has.standard.error)
