/*
The Broad Institute
 SOFTWARE COPYRIGHT NOTICE AGREEMENT
 This software and its documentation are copyright (2003-2012) by the
 Broad Institute. All rights are reserved.

 This software is supplied without any warranty or guaranteed support
 whatsoever. The Broad Institute cannot be responsible for its
 use, misuse, or functionality.
 */

#commandtype
{
	display:block;
    font-size: 11px;
}

.det_textarea
{
    padding: 10px;
    width: 600px;
}

#commandlist
{
    margin-left: 1px;
    cursor: move;
}

.heading
{
    margin: 0;
    font-size: 0.8125em;
    position: relative;
    color: #333366;
    background-color: #DFDFB9;
    padding: 3px;
    cursor: pointer;
    font-weight:bold;
	/*background gradient test*/
	background-color:#DFDFB9;
	background-image:-moz-linear-gradient(top, #eFeFd9, #DFDFB9);
	background-image:-ms-linear-gradient(top,#eFeFd9, #DFDFB9);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#eFeFd9), to(#DFDFB9));
	background-image:-webkit-linear-gradient(top, #eFeFd9, #DFDFB9);
	background-image:-o-linear-gradient(top, #eFeFd9, #DFDFB9);
	background-image:linear-gradient(top, #eFeFd9, #DFDFB9);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eFeFd9', endColorstr=' #DFDFB9', GradientType=0);
	border-color:#3386c2 #3386c2 #a5c3e6;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

ul { list-style: none inside; }
p { font-size: 1.2em; line-height: 1.2em; margin-bottom: 1.2em; }
a img { border: none; }


a {
text-decoration: none;
outline: none;
color: #335588;
}

a:hover {
    text-decoration: underline;
}

/* parameter controls drop down menu */
#param-bar {
margin: 0;
padding: 0;
min-height: 30px;
position: relative;
}
#param-bar ul {
font-size: 76%;
display: none;
position: absolute;
top: 0;
left: 1px;
width: 161px;
border: 1px solid #ccc;
background: white;
padding: 0 0 0 5px;
margin: 0;
z-index: 500;
}

#param-bar ul li {
float: none;
padding: 0; margin: 0;
height: 100%;
font-size: 11px;
}
#param-bar ul li:hover {
background: none;
margin: 0;
    padding:0;
}
#param-bar ul li a {
    display: block;
    float: none;
    /*margin-left: -5px; */
    padding: 0; margin: 0;
    width: 161px;
}
#param-bar ul li a:hover {
    background: #d9f0b7;
    margin: 0;
}

/* --------------- */
table
{
    font-size: 0.875em;
    margin: 0;
}

td {
    padding: 1px;
    margin: 0;
}

html, body
{
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
    height: 100%;
    width: 100%;
}

p
{
    font-size: 0.8125em;
}

div.ui-layout-north
{
    overflow: hidden;
}

.addcontrols
{
    margin: 1px;
}

.pcontrols
{
    margin: 0;
	padding: 0;
}

.pcontrols button
{
    font-size: 71%;
}

#parameters
{
    list-style-type: none;
    padding: 0;
    height: 470px;
    margin: 3px;
	width: auto;
}

#commandpreview button
{
    font-size: 70%;
    float: right;
}

#commandtype
{
    float: left;
    width: 100%;
	text-align: left;
}

#commandtype table{
	width:auto;
	margin-bottom: 5px;
}

#commandtype td{
	width:auto;
	padding:0;
}


#commandinfo
{
    float: none;
    width: 100%;
}

.clear
{
    clear: both;
}

.ui-dialog .ui-dialog-titlebar
{
    height: 12px;
    font-size: 0.75em;
}

.dialog
{
    font-size: 0.8125em;
    padding: 0;
    text-align: center;
    clear: both;
}

div.editChoicesDialog
{
    text-align: left;
    font-size: 12px;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 3px;
}

.editChoicesDialog p
{
    font-size: 12px;
}


.editChoicesDialog table .ui-button-text
{
    font-size: 7px;
    text-align: left;
}

.editChoicesDialog table
{
    width: 100%;
    margin: 15px 3px 5px 3px;
    border-spacing: 0;
    padding:0;
    font-size: 12px;
}

.editChoicesDialog table.staticChoiceTable
{
    width: 100%;
    margin: 18px 1px 5px 1px;
    border-spacing: 0;
    padding:0;
}

.editChoicesDialog span.staticTableHeader
{
    font-size: 14px;
    font-weight: bold;
}

.editChoicesDialog span.staticTableHeaderSmall
{
    font-size: 12px;
    font-weight: bold;
}

.editChoicesDialog table input
{
    width: 94%;
}

.ui-dialog .ui-dialog-buttonpane button
{
    font-size: 0.75em;
}

.pcontrols
{
    width: 100%;
    margin: 0;
}

.ui-layout-center
{
    padding: 0;
    overflow: auto;
    top: 120px;
}

.ui-layout-west, .ui-layout-south, .west-center, .west-south
{
    padding: 0;
}

#commandtextarea {
	width:100%;
	height:auto;
	vertical-align:top;

}

#commandtextarea textarea
{
    padding: 0px;
    width: 770px;
    height: 88px;
	margin-right: 10px;
	margin-top:5px;
	margin-bottom:10px;
	float:left;
}

#commandtextarea img.buttonIcon{
	position:relative;
	float:left;
	margin-top:5px;
}

#viewparameter
{
	float:left;
    font-size: 11px;
	margin-left:15px;
	margin-top:-1px;
}

#viewparameter img {
	padding-right: 5px;
	margin-left: -5px;
	vertical-align:top;
}

.hcontent {
    padding: 3px 2px;
    margin-left: 15px;
	margin-top:5px;
}

.hcontent table td{
	vertical-align:top;
}

#modcontrols
{
    float: right;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}

#gparcControls
{
    float: right;
    font-size: 0.78em;
    margin: 0 0 -1px 0;
    padding: 0;
    margin-left: 3px;
}

.top-dialog ul
{
    list-style: disc;
}

/*CSS partially copied from JQuery File upload plugin  */
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
  background-color: red;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  direction: ltr;
  cursor: pointer;
}

/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
*+html .fileinput-button {
  margin: 1px 0 0 0;
}

.btn{
    display:inline-block;
    padding:4px 10px 4px;
    font-size:13px;
    line-height:18px;
    color:#333333;
    text-align:center;
    background-color:#fafafa;
    border:1px solid #ccc;
    border-bottom-color:#bbb;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    cursor:pointer;
    *margin-left:.3em;
	float:left;
	}

.btn:first-child{*margin-left:0;
}

.btn:hover{
	color:#333333;
	text-decoration:none;
	background-color:#e6e6e6;
	background-position:0 -15px;
	-webkit-transition:background-position 0.1s linear;
	-moz-transition:background-position 0.1s linear;
	-ms-transition:background-position 0.1s linear;
	-o-transition:background-position 0.1s linear;
	transition:background-position 0.1s linear;}

.btn.active,.btn:active{
	background-image:none;
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	background-color:#e6e6e6;
	background-color:#d9d9d9 \9;
	color:rgba(0, 0, 0, 0.5);
	outline:0;
	}

.btn-primary,.btn-primary:hover,.btn-:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover{
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	color:#ffffff;
	}

.btn-success{
	background-color:#7898c7;
	background-image:-moz-linear-gradient(top, #94acd2, #7898c7);
	background-image:-ms-linear-gradient(top, #94acd2, #7898c7);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#94acd2), to(#7898c7));
	background-image:-webkit-linear-gradient(top, #94acd2, #7898c7);
	background-image:-o-linear-gradient(top, #94acd2, #7898c7);
	background-image:linear-gradient(top, #94acd2, #7898c7);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#94acd2', endColorstr='#7898c7', GradientType=0);
	border-color:#7898c7 #7898c7 #a5c3e6;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	font-size:11px;
	}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color:#7898c7;
}
/* end of css copied from JQuery file upload plugin*/

#uploadcontent
{
    max-height:150px;
    overflow: auto;
    min-height: 40px;
	margin-top: -5px;
	margin-bottom: 0;
    margin-left: -1px;
}

#supportfileslist
{
    list-style-type:none;
    padding: 3px;
	font-size: 11px;
}


#supportfileslist li
{
	line-height: 16px;
}

#supportfileslist span
{
    font-size: 9px;
	font-weight: bold;
	padding:0 3px 1px 3px;
}

#supportfileslist button
{
    font-size: 55%;
    margin-right: 3px;
}

#uploadcontent
{
    font-size: 0.75em;
}

.ui-multiselect
{
    font-size: 0.75em;
}

.delparam button
{
    font-size: 11px;
}

#currentfiles button
{
    font-size: 72%;
}


/*from here, DK's styles */


html {
	padding:0;
}

body {
	width:100%; /* dk */
	margin:auto;/* dk */
	padding:0;
}

p.heading {
	border-bottom: 1px solid #bb8;
	margin-bottom: 1px;
	color: #333;
	font-size: 11px;
	font-weight: normal;
}

div.ui-layout-center table td {
	padding: 5px 15px 5px 5px;
	white-space:nowrap;
	font-size: 11px;
	width: 100px;
}

div.ui-layout-center table td button {
	margin-top:-1px;
	margin-bottom: 0px;
}

div.ui-layout-center table td select {
}

table.no-border {
	margin: -2px 0 -4px -2px ;
	border:none;
}
div.ui-layout-center table.no-border td{
	padding:0;
	vertical-align:top;
	margin:0;
}

img.imgcollapse {
	margin-right: 5px;
}

img.imgexpand {
	margin-right: 5px;
}

.ui-layout-pane {
	border:none;
}

.ui-layout-north
{
    margin: 0;
    padding: 0;
    height: 120px;
}

#publishGParc {
	background-image: url(images/export_gparc_btn.png);
}

#publishGParc:hover {
	background-image: url(images/export_gparc_btn_over.png);
}

#navband1
{
    width: 100%;
}

#modheader {
	background-color: #cddcf1;
    padding: 11px 6px 10px 6px;
    border-top: solid 1px #a5c3e6;
    border-bottom: solid 1px #a5c3e6;
    height: 28px;
    margin-top: 21px;
}

#modheader button{
	margin-top:-2px;
}

#modheader button img{
	padding-right: 5px;
	margin-left: -5px;
	vertical-align:top;
}

#modversion
{
    margin-left: 22px;
}

.ui-layout-south {
	overflow:auto;
	text-align: center;
	background-color: #DFDFB9;
    padding-top:10px;
    vertical-align: middle;
}

.ui-layout-south img{
	vertical-align: top;
	margin-top:-3px;
}

.ui-multiselect span {
	font-size: 11px;
}

.ui-multiselect-checkboxes {
	overflow:auto;
}

textarea {
	background-color: #eee;
}
input[type="text"] {
	background-color: #eee;
}

.commandtype_table {
	width: 100%;
}

.ui-button-text {
	font-size:11px;
}

img.buttonIcon {
	padding-right: 5px;
	margin-left: -5px;
	vertical-align:top;
}

.parameter
{
	margin:5px 0 0 -5px;
	padding:0;
	width:100%;
	border-bottom: solid #3386c2 2px;
	border-top: solid #fff 4px;
}

.parameter table {
	width: 100%;
    margin-right: 3px;
}

.parameter table td {
	border-right: solid 1px #ddd;
	width: auto;
	padding:0;
}

.parameter table td.lasttd {
	border-right: solid 0px;
    width: 400px;
}

.parameter table td.lasttd img {
    margin: 4px;
    vertical-align: middle;
}

table.pmoptions td {
	border: none;
	padding: 0;
    width: 100%;
}

.parameter table td.btntd {
	text-align:center;
	padding:0 3px 0 0;
	vertical-align:middle;
    width: 6%;
    min-width: 70px;
}

.parameter table p
{
    font-size: 11px;
}

#addinputfileformat
{
    margin-left: 7px;
}
/* from jQuery dialog definition */
.ui-dialog .ui-dialog-titlebar { padding: 1.5em 1em; position: relative; background-color:#000;}
.ui-dialog .ui-dialog-title { float: left; margin: -1px 16px 5px 5px; font-size:13px;}


table.deloptions
{
	border: solid 1px #aaa;
	margin-bottom: 10px;
}

.helpbutton
{
    margin-left: 2px;
}

#dropbox
{
	width: 95%;
	height: 100px;
	border: 2px solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#droplabel
{
	position: relative;
	top: 40%;
}

.highlight
{
    background-color: #cddcf1;
}

.ui-progressbar .ui-progressbar-value { background-image: url(images/pbar-ani.gif); }


#savingDialog
{
    font-size: 12px;
}


#currentLicenseDiv span
{
    font-size: 65%;
}

#licenseFileNameDiv span
{
    font-size: 65%;
}

#mainLicenseDiv button
{
    margin-right: 3px;
}


#currentDocumentationSpan span
{
    font-size: 75%;
    padding: 2px 6px 2px 6px;
}

#currentDocumentationSpan button
{
    margin-right: 3px;
}

#documentationFileNameSpan span
{
    font-size: 75%;
    padding: 2px 6px 2px 6px;
}

#mainDocumentationSpan button
{
    margin-right: 3px;
}


.parameter table td.dragIndicator
{
    background-image: url(images/drag_drop_indicator.png);
    background-size: 9px 180px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 0.8%;
    height: 100%;
    min-height: 98%;
    min-width: 9px;
}

.parameter table td.dragIndicator:hover
{
    cursor: move;
}

.selectChoiceTypeDiv
{
    margin: 4px 0 20px 1px;
}

.shortDescription
{
    font-style: italic;
    font-size: 10px;
}

a.staticChoiceLink
{
    margin-top: 8px;
}

p.editChoiceEntry
{
    font-size: 10px;
    font-style: italic;
    margin: 4px 0 10px 16px;
}

.choiceadd
{
    margin-left: 1px;
}

p.editChoicesHeading {
    border-bottom: 1px solid #bb8;
    margin-bottom: 1px;
    color: #333;
    font-size: 14px !important;
    font-weight: normal;
}

.altStaticDesc
{
 margin-left: 2px;
}

.staticChoicesInfo, .dynamicChoicesInfo
{
    margin-left: 12px;
    font-size: 10px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-sort-placeholder
{
    height: 2.3em;
    line-height: 2.0em;
}

.sortHandle
{
    background-color: #DFDFAC;
    max-height: 18px;
    min-height: 18px;
    max-width: 21px;
    min-width: 21px;
    vertical-align: middle;
    font-size: 9px;
    text-align: center;
    padding-top: 3px;
}

.sortHandle:hover
{
    cursor: move;
}

#supportFileHelp
{
    font-size: 10px;
    font-style: italic;
}

.frictionBox
{
    width: 20%;
    height: 40%;
    background-color: #ADAD7A;
    min-width: 2px;
    min-height: 6px;
    margin: 1px auto 2px auto;
}