<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.mit.broad.gp.core"
   name="GPGE core Plug-in"
   version="1.0.0"
   provider-name="Broad/MIT"
   class="edu.mit.broad.gp.core.GPGECorePlugin">

   <runtime>
      <library name="GPGEEclipseCore.jar">
         <export name="*"/>
      </library>
      <library name="lib/activation.jar">
         <export name="*"/>
      </library>
      <library name="lib/analysis.jar">
         <export name="*"/>
      </library>
      <library name="lib/archiver.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-discovery.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/file_support.jar">
         <export name="*"/>
      </library>
      <library name="lib/gp-common.jar">
         <export name="*"/>
      </library>
      <library name="lib/gpge.jar">
         <export name="*"/>
      </library>
      <library name="lib/javax.servlet.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-rt-1.0-ea.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxp-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc.jar">
         <export name="*"/>
      </library>
      <library name="lib/jnet.jar">
         <export name="*"/>
      </library>
      <library name="lib/js.jar">
         <export name="*"/>
      </library>
      <library name="lib/log4j-1.2.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/mail.jar">
         <export name="*"/>
      </library>
      <library name="lib/oromatcher.jar">
         <export name="*"/>
      </library>
      <library name="lib/runMain.jar">
         <export name="*"/>
      </library>
      <library name="lib/saaj.jar">
         <export name="*"/>
      </library>
      <library name="lib/sax.jar">
         <export name="*"/>
      </library>
      <library name="lib/trove.jar">
         <export name="*"/>
      </library>
      <library name="lib/ui_support.jar">
         <export name="*"/>
      </library>
      <library name="lib/wsdl4j.jar">
         <export name="*"/>
      </library>
      <library name="lib/xalan.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xsltc.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.update.configurator"/>
   </requires>

<extension point="org.eclipse.ui.preferencePages">
  <page
        class="edu.mit.broad.gp.core.preferences.ProjectDirPreferencePage"
        name="Project Directories"
        id="edu.mit.broad.gp.core.preferences.ProjectDirPreferencePage">
     Please select the GenePattern project directories
  </page>
 	<page
        class="edu.mit.broad.gp.core.preferences.ServerPreferencePage"
        name="Servers"
        id="GenePatternPreferencePage">
   	</page>
  <page
        class="edu.mit.broad.gp.core.preferences.UserIdentityPreferencePage"
        name="User Identity"
        id="edu.mit.broad.gp.core.preferences.UserIdentityPreferencePage"/>
</extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="GenePattern Properties"
            nameFilter="*.*"
            class="edu.mit.broad.gp.core.properties.GPGEPropertyPage"
            id="edu.mit.broad.gp.core.properties.samplePropertyPage">
      </page>
   </extension>

</plugin>
