<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

 <display-name>GenePattern</display-name>
 
 <error-page>
    <error-code>500</error-code>
    <location>/internalError.jsp</location>
</error-page>
<error-page>
    <error-code>404</error-code>
    <location>/pages/notFound.jsf</location>
</error-page>

 <context-param>
 <param-name>org.richfaces.SKIN</param-name>
 <param-value>blueSky</param-value>
</context-param>

 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.REFRESH_PERIOD</param-name>
  <param-value>-1</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
  <param-value>1</param-value>
 </context-param>
 
 <context-param>
  <param-name>com.sun.faces.validateXml</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>com.sun.faces.verifyObjects</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.LIBRARIES</param-name>
  <param-value>/WEB-INF/tomahawk.taglib.xml</param-value>
 </context-param>

 <filter>
  <filter-name>IgvFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.IgvFilter</filter-class>
  <!-- initialize the filter with a list of User-Agent prefixes, see IgvFilter documentation. -->
  <init-param><param-name>GenePatternRest</param-name><param-value></param-value></init-param>
  <init-param><param-name>IGV</param-name><param-value></param-value></init-param>
  <init-param><param-name>Java</param-name><param-value></param-value></init-param>
 </filter>

 <filter>
  <filter-name>ConnectionFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.ConnectionFilter</filter-class>
 </filter>

 <filter>
  <filter-name>RedirectToFQHostFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.RedirectToFQHostFilter</filter-class>
  <init-param>
   <description>
   Boolean value indicating whether or not to use this filter. 
   You can also just remove this filter from the filter-mapping.
   </description>
   <param-name>redirect.to.fq.host</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <description>
   If the server is behind a cluster head or VPN  and needs to masquerade as if 
   coming from a different system name than that which it would determine on its own, 
   set fqHostName to that name.
   
   Set this to an empty value to cause the server to determine the fully qualified host name
   by calling InetAddress.getLocalHost().getCanonicalHostName().
   </description>
   <param-name>fqHostName</param-name>
   <param-value></param-value>
  </init-param>
  <init-param>
   <param-name>genepattern.properties</param-name>
   <param-value>../resources</param-value>
  </init-param>
 </filter>
 
 <filter>
  <filter-name>AuthorizationFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.AuthorizationFilter</filter-class>
  <init-param>
   <param-name>org.genepattern.AuthorizationManagerFactory</param-name>
   <param-value>org.genepattern.server.util.AuthorizationManagerFactoryImpl</param-value>
  </init-param>
  <init-param>
   <param-name>genepattern.properties</param-name>
   <param-value>../resources</param-value>
  </init-param>
 </filter>

 <filter>
  <filter-name>AuthenticationFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.AuthenticationFilter</filter-class>
  <init-param>
   <param-name>genepattern.properties</param-name>
   <param-value>../resources</param-value>
  </init-param>
  <init-param>
   <!--  List of jsf pages that user can access if not logged in. If user requests one of these pages while logged in, he is redirected to the home page.  -->
   <param-name>no.login.required.redirect.to.home</param-name>
   <param-value>login.jsf,registerUser.jsf,forgotPassword.jsf</param-value>
  </init-param>
  <init-param>
  <!-- List of jsf pages that user can access if not logged in. If user requests one of these pages while logged in, he goes to the requested page. -->
   <param-name>no.login.required</param-name>
   <param-value>about.jsf,contactUs.jsf, registerServer.jsf, contactUs.jsf, registerServer.jsf, unregisteredServer.jsf, terms.jsf, systemMessage.jsf,GenomeSpaceOpenID, pages/genomespace/error.jsp, /pages/genomespace/associateAccount.jsf</param-value>
  </init-param>
  <init-param>
   <param-name>login.page</param-name>
   <param-value>/pages/login.jsf</param-value>
  </init-param>
  <init-param>
   <param-name>home.page</param-name>
   <param-value>/pages/index.jsf</param-value>
  </init-param>
 </filter>

 <filter>
  <filter-name>LogoutFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.LogoutFilter</filter-class>
 </filter>

 <filter>
  <filter-name>AdminServerFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.AdminServerFilter</filter-class> 
 </filter>

 <filter>
  <filter-name>HibernateFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.HibernateSessionRequestFilter</filter-class>
 </filter>
 
 <filter>
  <filter-name>RegistrationFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.RegistrationFilter</filter-class>
 </filter>
 
 <filter>
  <display-name>ExtensionsFilter</display-name>
  <filter-name>ExtensionsFilter</filter-name>
  <filter-class>org.apache.myfaces.component.html.util.ExtensionsFilter</filter-class>
  <init-param>
   <description>Ignore files greather than this max size</description>
   <param-name>uploadMaxFileSize</param-name>
   <param-value>10g</param-value>
  </init-param>
  <init-param>
   <description>Keep files less than this threshold in memory</description>
   <param-name>uploadThresholdSize</param-name>
   <param-value>100k</param-value>
  </init-param>
 </filter>

 <filter-mapping>
  <filter-name>IgvFilter</filter-name>
  <url-pattern>/getFile.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>IgvFilter</filter-name>
  <url-pattern>/jobResults/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>IgvFilter</filter-name>
  <url-pattern>/data/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
   <filter-name>IgvFilter</filter-name>
   <url-pattern>/users/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>RedirectToFQHostFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- extension mapping for adding <script/>, <link/>, and other resource tags to JSF-pages  -->
 <filter-mapping>
  <filter-name>ExtensionsFilter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <!-- extension mapping for serving page-independent resources (javascript, stylesheets, images, etc.)  -->
 <filter-mapping>
  <filter-name>ExtensionsFilter</filter-name>
  <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ConnectionFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>RegistrationFilter</filter-name>
  <url-pattern>*.jsf</url-pattern>
 </filter-mapping>
<filter-mapping>
  <filter-name>RegistrationFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>

 <filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>/jobResults/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>*.jsf</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>*.ajax</url-pattern>
 </filter-mapping>
<filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>/reports/*</url-pattern>
 </filter-mapping>

 <filter-mapping>
  <filter-name>AuthorizationFilter</filter-name>
  <url-pattern>/services/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AuthorizationFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AuthorizationFilter</filter-name>
  <url-pattern>*.jsf</url-pattern>
 </filter-mapping>

 <filter-mapping>
  <filter-name>AdminServerFilter</filter-name>
  <url-pattern>/reports/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>HibernateFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
   <filter-name>LogoutFilter</filter-name>
   <url-pattern>/logout</url-pattern>
 </filter-mapping>
 <filter-mapping>
   <filter-name>LogoutFilter</filter-name>
   <url-pattern>/logout.jsp</url-pattern>
 </filter-mapping>

<filter>
 <display-name>RichFaces Filter</display-name>
 <filter-name>richfaces</filter-name>
 <filter-class>org.ajax4jsf.Filter</filter-class>
 <!-- Don't modify html content in non-ajax responses -->
 <init-param>
  <param-name>forcenotrf</param-name>
  <param-value>false</param-value>
 </init-param>
 <init-param>
  <param-name>createTempFiles</param-name>
  <param-value>false</param-value>
 </init-param>
 <init-param>
  <param-name>maxRequestSize</param-name>
  <param-value>1000000000</param-value>
 </init-param>
</filter>

<filter-mapping>
 <filter-name>richfaces</filter-name>
 <url-pattern>/pages/serverSettings.jsf</url-pattern>
 <dispatcher>REQUEST</dispatcher>
 <dispatcher>FORWARD</dispatcher>
 <dispatcher>INCLUDE</dispatcher>
</filter-mapping>

<filter-mapping>
 <filter-name>richfaces</filter-name>
 <url-pattern>/pages/admin/*</url-pattern>
 <dispatcher>REQUEST</dispatcher>
 <dispatcher>FORWARD</dispatcher>
 <dispatcher>INCLUDE</dispatcher>
</filter-mapping>

<filter-mapping>
 <filter-name>richfaces</filter-name>
 <url-pattern>/pages/jobResults.jsf</url-pattern>
 <dispatcher>REQUEST</dispatcher>
 <dispatcher>FORWARD</dispatcher>
 <dispatcher>INCLUDE</dispatcher>
</filter-mapping>
<filter-mapping>
 <filter-name>richfaces</filter-name>
 <url-pattern>/pages/jobResult.jsf</url-pattern>
 <dispatcher>REQUEST</dispatcher>
 <dispatcher>FORWARD</dispatcher>
 <dispatcher>INCLUDE</dispatcher>
</filter-mapping>
<filter-mapping>
 <filter-name>richfaces</filter-name>
  <url-pattern>/a4j/*</url-pattern>
  <!--  servlet-name>Faces Servlet</servlet-name -->
 <dispatcher>REQUEST</dispatcher>
 <dispatcher>FORWARD</dispatcher>
 <dispatcher>INCLUDE</dispatcher>
</filter-mapping>
<filter-mapping>
 <filter-name>richfaces</filter-name>
 <url-pattern>/pages/index.jsf</url-pattern>
 <dispatcher>REQUEST</dispatcher>
 <dispatcher>FORWARD</dispatcher>
 <dispatcher>INCLUDE</dispatcher>
</filter-mapping>


 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StartupServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.StartupServlet</servlet-class>
  <init-param>
   <param-name>genepattern.properties</param-name>
   <param-value>../resources</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <display-name>Apache-Axis Servlet</display-name>
  <servlet-name>AxisServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  <load-on-startup>20</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/servlet/AxisServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>*.jws</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>

  <servlet>
  <display-name>AjaxServlet</display-name>
  <servlet-name>AjaxServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.jsf.AjaxServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>AjaxServlet</servlet-name>
  <url-pattern>*.ajax</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <display-name>DataServlet</display-name>
  <servlet-name>DataServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.DataServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>DataServlet</servlet-name>
  <url-pattern>/data/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DataServlet</servlet-name>
  <url-pattern>/users/*</url-pattern>
 </servlet-mapping>

 <servlet>
  <display-name>JobResultsServlet</display-name>
  <servlet-name>JobResultsServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.JobResultsServlet</servlet-class>
  <init-param>
   <param-name>genepattern.properties</param-name>
   <param-value>../resources</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>JobResultsServlet</servlet-name>
  <url-pattern>/jobResults/*</url-pattern>
 </servlet-mapping>

 <servlet>
  <display-name>Login Servlet</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.LoginServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <display-name>ModuleDocServlet</display-name>
  <servlet-name>ModuleDocServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.ModuleDocServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>ModuleDocServlet</servlet-name>
  <url-pattern>/module/doc/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <display-name>Submit Job Servlet</display-name>
    <servlet-name>SubmitJob</servlet-name>
    <servlet-class>org.genepattern.server.webapp.SubmitJobServlet</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>SubmitJob</servlet-name>
  <url-pattern>/SubmitJob</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  	<!-- DEPRECATED: Point old references to submitJob.jsp to the new servlet -->
  <servlet-name>SubmitJob</servlet-name>
  <url-pattern>/submitJob.jsp</url-pattern>
 </servlet-mapping>

<servlet>
    <display-name>End user license agreement servlet</display-name>
    <servlet-name>EulaServlet</servlet-name>
    <servlet-class>org.genepattern.server.webapp.EulaServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EulaServlet</servlet-name>
    <url-pattern>/eula</url-pattern>
</servlet-mapping> 

<servlet>
    <display-name>Upload Receiver Servlet</display-name>
    <servlet-name>UploadReceiver</servlet-name>
    <servlet-class>org.genepattern.server.webapp.UploadReceiver</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>UploadReceiver</servlet-name>
  <url-pattern>/UploadReceiver</url-pattern>
 </servlet-mapping>
 
  <servlet>
    <display-name>GenomeSpace OpenID Servlet</display-name>
    <servlet-name>GenomeSpaceOpenID</servlet-name>
    <servlet-class>org.genepattern.server.genomespace.GenomeSpaceOpenID</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>GenomeSpaceOpenID</servlet-name>
  <url-pattern>/GenomeSpaceOpenID</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <display-name>Pipeline Designer Servlet</display-name>
    <servlet-name>PipelineDesigner</servlet-name>
    <servlet-class>org.genepattern.pipelines.PipelineQueryServlet</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>PipelineDesigner</servlet-name>
  <url-pattern>/PipelineDesigner/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <display-name>UploadFileTree Servlet</display-name>
    <servlet-name>UploadFileTree</servlet-name>
    <servlet-class>org.genepattern.server.webapp.uploads.UploadFileServlet</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>UploadFileTree</servlet-name>
  <url-pattern>/UploadFileTree/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <display-name>ServerFileBrowser Servlet</display-name>
    <servlet-name>ServerFileBrowser</servlet-name>
    <servlet-class>org.genepattern.server.webapp.serverfiles.ServerFileServlet</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>ServerFileBrowser</servlet-name>
  <url-pattern>/ServerFileBrowser/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <display-name>GenomeSpace Servlet</display-name>
    <servlet-name>GenomeSpace</servlet-name>
    <servlet-class>org.genepattern.server.genomespace.GenomeSpaceServlet</servlet-class>    
 </servlet>
 <servlet-mapping>
  <servlet-name>GenomeSpace</servlet-name>
  <url-pattern>/GenomeSpace/*</url-pattern>
 </servlet-mapping>

<filter>
  <filter-name>RestApiFilter</filter-name>
  <filter-class>org.genepattern.server.webapp.rest.RestApiFilter</filter-class>
</filter>

<filter-mapping>
  <filter-name>RestApiFilter</filter-name>
  <url-pattern>/rest/*</url-pattern>
</filter-mapping>

<servlet>
    <!-- The Jersey Servlet. Bootstraps and enables Jersey code -->
     <servlet-name>RestService</servlet-name>
     <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
     <!-- Include here the packages that have Jersey annotations (@Path, @GET etc.)
          separated by commas -->
    <init-param>
         <param-name>com.sun.jersey.config.property.packages</param-name>
         <param-value>org.genepattern.server.webapp.rest</param-value>
     </init-param>
    <init-param>
        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
        <param-value>true</param-value>
    </init-param>                     
     <load-on-startup>1</load-on-startup>
</servlet >

<servlet-mapping>
  <servlet-name>RestService</servlet-name>
  <url-pattern>/rest/*</url-pattern>
 </servlet-mapping>

 <servlet>
  <display-name>Module Creator Servlet</display-name>
  <servlet-name>ModuleCreator</servlet-name>
  <servlet-class>org.genepattern.modules.ModuleQueryServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ModuleCreator</servlet-name>
  <url-pattern>/ModuleCreator/*</url-pattern>
 </servlet-mapping>

 <servlet>
  <display-name>JobConfigurationServlet</display-name>
  <servlet-name>JobConfigurationServlet</servlet-name>
  <servlet-class>org.genepattern.server.webapp.JobConfigurationServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>JobConfigurationServlet</servlet-name>
  <url-pattern>/rest/JobConfiguration</url-pattern>
 </servlet-mapping>
 
 <!-- support for GenePattern API -->
 <filter>
  <filter-name>ApiFilter</filter-name>
  <filter-class>org.genepattern.server.api.ApiAuthenticationFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ApiFilter</filter-name>
  <url-pattern>/api/*</url-pattern>
 </filter-mapping>

 <servlet>
  <display-name>AdminServlet</display-name>
  <servlet-name>AdminServlet</servlet-name>
  <servlet-class>org.genepattern.server.api.admin.AdminServlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>AdminServlet</servlet-name>
   <url-pattern>/api/admin/*</url-pattern>
 </servlet-mapping>

 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>

</web-app>