/*
 * Copyright 2012 The Broad Institute, Inc.
 * SOFTWARE COPYRIGHT NOTICE
 * This software and its documentation are the copyright of the Broad Institute, Inc. All rights are reserved.
 *
 * This software is supplied without any warranty or guaranteed support whatsoever. The Broad Institute is not responsible for its use, misuse, or functionality.
 */

html {
    height: 100%;
}
 
body {
    background-attachment: fixed;
    height: 99%;
}

#topband {
    position: fixed;
    z-index: 3000;
}

#systemMessageLink {
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
    color: #339;
    text-decoration: none;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3001;
    width: 400px;
    height: 25px;
    text-align: right;
    padding-right: 10px;
}

#fileUploading {
    float: right;
    margin-right: 20px;
}

#fileDone {
    float: right;
    margin-right: 20px;
}

#libraryWrapper {
	z-index: 3000;
	position: fixed;
	top: 112px;
	left: 0;
	width: 190px;
	background-color: #F1F2F2;
    border: 1px solid #F1F2F2;
    border-right: 1px solid #A3B1DA;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#libraryWrapper table {
	height: 100%;
	padding: 0px;
	margin: 0px;
	width: 190px;
}

#libraryWrapper table tr td {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	width: 190px;
}

#library {
    overflow-y: auto;
    overflow-x: hidden;
	z-index: 3000;
	padding: 5px 0 15px 5px;
	height: 100%;
	width: 183px;
}

#attachFile {
    width: 80%;
}

#libraryControls {
    color: #336;
    text-decoration: none;
    font-size: 11px;
    line-height: 32px;
    font-weight: bold;
	width: 100%;
}

#libraryControls a {
}

.categoryHeader {
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #336;
    text-decoration: none;
    cursor: pointer;
}

.moduleBullet {
    color: #336;
    text-decoration: none;
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    display: none;
}

.moduleBullet:hover {
    color: #6666FF;
    text-decoration: none;
    background-color: #FAFAF3;
}

.optionalPort svg circle {
    fill: lightgray;
    stroke: black;
}

a:hover {
    text-decoration: underline;
}

.ui-autocomplete-input {
    font-size: 8pt;
}

#titleBar {
    position: fixed;
    z-index: 3001;
    top: 71px;
    left: 0px;
    width:100%;
    height: 20px;
    background-color: #DFDFB9;
	background-color: #cddcf1;
    border-bottom: 1px solid #CDC3B7;
	border-bottom: 1px solid #3386c2;
    padding: 10px 0 10px 0;
    overflow-x: hidden;
    overflow: hidden;
}

#navband1 {
    white-space: nowrap;
    display: inline-block;
    position: fixed;
	line-height: 7px;
	width: 100%;
	min-width: 1000px;
}

#navband1 > ul {
	white-space: nowrap;
    display: inline-block;
}

.modulePropertiesTitle {
    font-size: 10pt;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

#titleSpan {
    float:left;
    color: #000000;
    font-size: 10pt;
    line-height: 21px;
    font-weight: bold;
    text-indent: 15px;
    margin-right: 15px;
}

#saveLoadDiv {
    /*float: right;*/
    float:left;
	
    position: relative;
    top: -5px;
}

.saveLoadButton {
    font-size: 8pt;
}

#workspace {
	padding-left: 10px;
	background-color: #FFFFFF;
}

.tableDiv {
    height: 100%;
    width: 100%;
    display: table;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
}

.topTableRow {
    height: 110px;
}

.leftTableCell {
    width: 200px;
}

#propertiesWrapper {
	z-index: 4000;
	position: fixed;
	top: 112px;
	right: 0;
	width: 300px;
	background-color: #F1F2F2;
    border: 1px solid #F1F2F2;
    border-left: 1px solid #A3B1DA;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#propertiesWrapper table {
	height: 100%;
	padding: 0px;
	margin: 0px;
	width: 300px;
}

#propertiesWrapper table tr td {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	width: 300px;
}

#properties {
	z-index: 4000;
    height: 100%;
    overflow-y: auto;
	width: 290px;
	overflow-x: hidden;
    padding: 5px 5px 15px 5px;
	font-size: 12px;
	line-height: 16px;
}

#properties hr {
	border:none;
	background-color:#bbb;
	height:1px;
	margin-top: 15px;
	margin-bottom:15px;
}

#propertiesKey em {
	font-size: 11px;
	font-weight: bold;
	color: #3386c2;
}

.propertyCheckBox {
    float: left;
}

.propertiesLabel {
    width: auto;
    /*float: left;*/
    padding-left: 10px;
	margin-right: 20px;
    max-width: 100px;
}

.propertyValue {
    display:block;
    width: 97%;
}

#propertiesVersion {
    float: right;
    font-size: 12pt;
    vertical-align: bottom;
}

#propertiesKey {
    font-size: 11pt;
}

.fileUploadValue {
    font-size: 8pt;
	padding-left: 25px;
	word-wrap:break-word;
}

input[type="file"] {
	width: 220px;
}

.topRowButton {
    float:left;
    height: 16px;
    margin-right: 5px;
	margin-left: -3px;
}

._jsPlumb_endpoint {
	z-index: 2000;
    opacity: 0.8;
}

._jsPlumb_endpoint:hover {
    opacity: 1.0;
}

._jsPlumb_endpoint:-moz-drag-over {
    opacity: 1.0;
}

.libraryModuleButton {
	font-size: 8pt;
}

.bottomSpacer {
    width: 100%;
    height: 110px;
}

.spacerDiv {
    width: 100%;
    height: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #9AA6BD;
}

.inputDescription {
    font-size: 7pt;
	padding-left: 05px;
	color: #36C;
}

#propertiesTitle {
    font-size: 14pt;
    line-height: 30px;
}

#propertiesSubtitle {
    font-size: 6pt;
    line-height: 24px;
    white-space: nowrap;
}

#propertiesSubmit {
    text-align: right;
}

#footer {
    position: absolute;
    bottom: 0;
    display: none;
}

.openButton {
    cursor: pointer;
}

.propertiesButton {
    cursor: pointer;
}

.deleteButton {
    float:right;
    margin-top:-3px;
    border: none;
    padding:3px;
    height: 15px;
    width:15px;
    cursor: pointer;
}

.alertModule {
    border-color: #FFFF00 !important;
}

.errorModule {
    border-color: #FF0000 !important;
}

.alertButton {
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.alertDiv {
    font-size: 8pt;
    font-weight: bold;
    vertical-align: middle;
    background-color: #fcff7c;
    white-space: normal;
    text-indent: -40px;
    padding-left: 40px;
}

.alertParam {
    background-color: #fcff7c;
}

.alertButton {
    cursor: pointer;
}

.hiddenOutput {
    display: none;
    z-index: -1 !important;
}

.moreLessTab {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.collapseDisabled {
    color: #333333;
	display: none;
}

.collapseDisabled:hover {
    background: rgba(0, 0, 0, 0.0) !important;
}

.moreLessTab:hover {
    background: rgba(0, 0, 0, 0.2);
}

div.iconSpace {
    margin-top: 3px;
    text-align: left;
}

.promptWhenRunIcon {
    height: 18px;
    float: right;
    cursor: pointer;
    margin-right: 2px;
    opacity:0.2;
    filter:alpha(opacity=20);
}

.promptWhenRunIconOn {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.module {
    position: absolute;
    z-index: 2000;
    width:195px;
    background-color: #CCCCFF;
    min-height:40px;
    text-align: left;
    opacity:0.8;
    filter:alpha(opacity=80);
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #9999CC;
}

.module .moduleTitle {
    background-color: #9999CC;
    height: 20px;
    padding-left: 10px;
    padding-top: 3px;
    vertical-align: middle;
}

.visualizer {
    background-color: #CCFFCC;
    border-color: #99CC99;
}

.visualizer .moduleTitle {
    background-color: #99CC99;
}

.pipeline {
    background-color: #FFCCCC;
    border-color: #CC9999;
}

.pipeline .moduleTitle {
    background-color: #CC9999;
}

.file {
    background-color: #F1DFAE;
    border-color: #F0B366;
}

.file .moduleTitle {
    background-color: #F0B366;
}

.moduleFileItem {
    height: 20px;
    font-weight: normal;
    padding-left: 15px;
    padding-top: 3px;
}

.outputFileItem {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 3px;
}

.outputFileItem input {
    width: 145px;
}

.draggedModule {
    z-index: 2010 !important;
}

.module.ui-selected {
	border-color: #000000;
}

._jsPlumb_connector {
    z-index: 1999;
	opacity:0.6;
}

._jsPlumb_connector.ui-selected path {
    stroke: red;
}

.infoTooltip {
    display: none;
    background-color: #ffa;
    border: 1px solid #cc9;
    padding: 3px;
    font-size: 13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    text-align: center;
    z-index: 9001;
    word-wrap: break-word;


}

.tooltip {
    display: none;
    background: transparent url(../images/bubble.png);
    background-repeat: no-repeat;
    font-size: 13px;
    height: 70px;
    width: 160px;
    padding: 25px;
    color:#000000;
    text-align: center;
    z-index: 9000;
	word-wrap:break-word;
}

.tooltip .deleteButton {
	height:16px;
	width: 16px;
	float:none;
    border: none;
	margin-left: 3px;
	margin-top:5px;
    padding:3px;
    cursor: pointer;
}

.tooltip .deleteButton:hover {
	opacity: 0.75
}

.tooltip .propertiesButton {
	height:16px;
	width: 16px;
	float:none;
    border: none;
    padding:3px;
    cursor: pointer;
	margin-top:5px;
}

.tooltip .propertiesButton:hover {
	opacity: 0.75
}

#loadPipelineDialog {
    background-color: #fff;
    display: none;
    width: 400px;
    padding: 15px;
    text-align: left;
    z-index: 10000 !important;
}

#loadingEditorDialog {
	z-index: 10000 !important;
}

#loadPipelineHeader {
    font-size: 14pt;
    line-height: 30px;
}

#loadPipelineButtons {
    text-align: right;
}

#pipelineLoadList {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
}

#pipelineSelectList .ui-selecting {
    background: #CCCC99;
}

#pipelineSelectList .ui-selected {
    background: #CCCC99;
    color: black;
}

#pipelineSelectList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#pipelineSelectList li {
    padding: 0.4em;
    height: 14px;
}

.updateCheckbox {
	margin-left: 20px;
}

.updateCallback {
	margin-left: 20px;
}

/*
 * jQuery UI Button 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 0.6em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

.ui-dialog table {
	margin-top:20px;
	margin-bottom:20px;
}

.ui-dialog table td {
	padding-right: 10px;
}

.ui-widget-overlay {
	z-index: 10000 !important;
}

.properties-overlay {
	z-index: 3999 !important;
}

.ui-dialog {
	z-index: 10001;
}

.top-dialog {
	z-index: 10001;
}

#navband1 {
    position: fixed !important;
}