body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
	text-decoration: none;
	background-color: #3C7CAC;
	/*background-image: url(/gp/images/bkg.gif);*/
	background-repeat: repeat-x;
}
a {
	color: #002C5C;
	text-decoration: none;
}
a:hover {
	color: #4C8CBC;
	text-decoration:  none;
}
a:active {
	color: #5C9CCC;
	text-decoration: none;
}

#comboBoxChoices {
	width: 242px;
}

.rich-tree-node-text {
	white-space: normal;
}

#uploads {
	width: 203px;
}

.topband {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:48px;
	z-index:3;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #CCCCCC;
	background: #5C9CCC url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
}
.topband a {
	color: #002C5C;
	text-decoration: none;
}
.topband a:hover {
	color: #002C5C;
	text-decoration:  none;
}
.topband a:active {
	color: #002C5C;
	text-decoration: none;
}



.navband1 {
	position:absolute;
	left:0px;
	top:48px;
	width:100%;
	height:23px;
	z-index:20;
	font-size: 11px;
	line-height: 21px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #5C9CCC;
	vertical-align: top;
	text-indent: 77px;
	white-space: nowrap;
}
.navband1 a {
	color: #FFFFFF;
	text-decoration: none;
}
.navband1 a:hover {
	color: #CCCC66;
	text-decoration: none;
}
.navband1 a:active {
	color: #CCCCFF;
	text-decoration: none;
}




.navband1-on {
	color: #CCCCFF;
	text-decoration: none;
}
.navband1-on a {
	color: #CCCCFF;
	text-decoration: none;
}
.navband1-on a:hover {
	color: #CCCC66;
	text-decoration: none;
}
.navband1-on a:active {
	color: #CCCCFF;
	text-decoration: none;
}



.content {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	z-index:2;
	height: 100%;
}

#content > table {
	height: 100%;
	padding-top: 71px;
}


.tasks {
	left:0px;
	top:101px;
	width:242px;
	z-index:3;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #0C4C7C;
	text-decoration: none;
	background-color: #EEEEEE;
	padding-top: 0px;
	padding-bottom: 20px;
	vertical-align: top;
	overflow: auto;
	border-top-width: 1px;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
	border-top-style: solid;
	border-right-style: solid;
	border-left-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1px;
}
.tasks a{
	color: #0C4C7C;
	text-decoration: none;
}
.tasks a:hover {
	color: #4C8CBC;
	text-decoration: none;
	background-color: #FAFAF3;
}
.tasks a:active {
	color: #3333CC;
	text-decoration: none;
	background-color: #FAFAF3;
}


.tasks_on {
	background-color: #FAFAF3;
	color: #4C8CBC;
	text-decoration: none;
}
.tasks_on a{
	color: #4C8CBC;
	text-decoration: none;
}
.tasks_on a:hover {
	color: #4C8CBC;
	text-decoration: none;
}
.tasks_on a:active {
	color: #4C8CBC;
	text-decoration: none;
}


.task-categories {
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color: #0C4C7C;
	text-decoration: none;
}
.task-categories a{
	color: #0C4C7C;
	text-decoration: none;
}
.task-categories a:hover {
	color: #4C8CBC;
	text-decoration:  none;
	background-color: #EEEEEE;
}
.task-categories a:active {
	color: #3333CC;
	text-decoration: none;
	background-color: #EEEEEE;
}


.task-mine {
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
}
.task-mine a{
	color: #990000;
	text-decoration: none;
}
.task-mine a:hover {
	color: #4C8CBC;
	text-decoration:  none;
	background-color: #FAFAF3;
}
.task-mine a:active {
	color: #3333CC;
	text-decoration: none;
	background-color: #FAFAF3;
}




.maintasknav {
	left:242px;
	top:101px;
	height:20px;
	z-index:3;
	font-size: 9px;
	line-height: 15px;
	color: #002C5C;
	text-decoration: none;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 27px;
	padding-left: 27px;
	text-align: right;
}
.maintasknav a {
	color: #002C5C;
	text-decoration: none;
}
.maintasknav a:hover {
	color: #4C8CBC;
	text-decoration:  none;
}
.maintasknav a:active {
	color: #CCCCFF;
	text-decoration: none;
}




.maintasknav2 {
	left:242px;
	top:101px;
	height:20px;
	z-index:3;
	font-size: 9px;
	line-height: 15px;
	color: #002C5C;
	text-decoration: none;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-top: 5px;
	text-align: right;
}
.maintasknav a {
	color: #002C5C;
	text-decoration: none;
}
.maintasknav a:hover {
	color: #4C8CBC;
	text-decoration:  none;
}
.maintasknav a:active {
	color: #CCCCFF;
	text-decoration: none;
}


.maincontent {
	left:242px;
	min-width: 570px;
	z-index:4;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-top: 9px;
	padding-right: 27px;
	padding-bottom: 100px;
	padding-left: 27px;
}

.maincontent a{
	color: #002C5C;
	text-decoration: none;
}
.maincontent a:hover {
	color: #4C8CBC;
	text-decoration:  none;
}
.maincontent a:active {
	color: #CCCCFF;
	text-decoration: none;
}






.barhead-task {
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #3C7CAC;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
}
.barhead-task a {
	color: #0C4C7C;
}
.barhead-task a:hover {
	color: #4C8CBC;
}
.barhead-task a:active {
	color: #FFFFFF;
}

.barhead-pipeline {
	font-weight: bold;
	font-size: 14px;
	color: #0C4C7C;
	background-color: #CCCCFF;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
}
.barhead-other {
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #3C7CAC;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
}
.barhead-version {
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
.attribute {
	font-size: 11px;
	width: 100%;
}
.attribute-required {
	font-size: 11px;
	font-weight: normal;
}
.description {
	font-size: 9px;
	color: #000000;
	line-height: 11px;
}
.alternatingtablebkg {
	background-color: #E8E8F9;
}




.recentjobs {
	left:800px;
	top:101px;
	width:203px;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	z-index:3;
	color: #0C4C7C;
	text-decoration: none;
	background-color: #EEEEEE;
	padding-top: 0px;
	padding-bottom: 20px;
	vertical-align: top;
	overflow: auto;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}
.recentjobs a {
	color: #0C4C7C;
	text-decoration: none;
	font-weight: normal;
}
.recentjobs a:hover{
	color: #4C8CBC;
	text-decoration:  none;
	font-weight: normal;
}
.recentjobs a:active{
	color: #3333CC;
	text-decoration: none;
	font-weight: normal;
}


.recentjobs-sh {
	color: #0C4C7C;
	text-decoration: none;
	font-weight: bold;
}
.recentjobs-sh a {
	color: #0C4C7C;
	text-decoration: none;
	font-weight: bold;
}
.recentjobs-sh a:hover{
	color: #4C8CBC;
	text-decoration:  none;
	font-weight: bold;
}
.recentjobs-sh a:active{
	color: #3333CC;
	text-decoration: none;
	font-weight: bold;
}



.sidebarhead-bkg {
	background-color: #DDDDDD;
	height: 55px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.sidebarhead {
	font-weight: bold;
	font-size: 11px;
	line-height: 15px;
	color: #0C4C7C;
	text-decoration: none;
	text-indent: 10px;
}
.viewchoice {
	font-size: 9px;
	line-height: 15px;
	color: #002C5C;
	text-decoration: none;
	text-indent: 10px;
	font-weight: normal;
}
.sidebarhead-bkg2 {
	background-color: #DDDDDD;
	height: 32px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	vertical-align: middle;
}



.loginsettings {
	font-weight: normal;
	font-size: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
	position:absolute;
	right:0px;
	top:0px;
	z-index:40;
	width: 100%;
	height: 25px;
	text-align: right;

}
.loginsettings a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.loginsettings a:hover{
	color: #4C8CBC;
	text-decoration: none;
	font-weight: bold;
}
.loginsettings a:active{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}


.footer {
	height: 30px;
	font-size: 10px;
	line-height: 16px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-color: #DDDDDD;
	vertical-align: middle;
	padding: 10px;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
}
.footer a {
	color: #666666;
	text-decoration: none;
}
.footer a:hover {
	color: #002C5C;
	text-decoration:  none;
}
.footer a:active {
	color: #333300;
	text-decoration:  none;
}


.taskperameter {
	background-color: #FFFFFF;
}
.taskperameter td{
	background-color: #FFFFFF;
 	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCFF;
}
.taskperameter-on {
	background-color: #FFFFFF;
}
.taskperameter-on td{
	background-color: #f1f1fd;
 	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCFF;
}


.taskperameter-2 {
	background-color: #FFFFFF;
}
.taskperameter-2 td{
	background-color: #FFFFFF;
 	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #CCCCFF;
}

.pipelineperameter {
	background-color: #FFFFFF;
}
.pipelineperameter td{
	background-color: #FFFFFF;
 	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #CCCCFF;
}
.pipelineperameter-on {
	background-color: #FFFFFF;
}
.pipelineperameter-on td{
	background-color: #f1f1fd;
 	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #CCCCFF;
}

.pipelineperameterinputText{
	width: 420px;
}
.pipelineperameterinputText_short{
	width: 120px;
}
.pipelineperameterinputTextArea{
	width: 420px;
}
.pipelineperameterinputFile{
	width: 425px;
}

.settingperameter {
	background-color: #FFFFFF;
}
.settingperameter td{
	background-color: #FFFFFF;
 	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCFF;
}
.smalltype {font-size: 9px;}
.smalltype2 {
	font-size: 9px;
	line-height: 9px;
}
.smalltype3 {
	font-size: 9px;
	line-height: 11px;
}
.smalltype4 {
	font-size: 9px;
	line-height: 11px;
}
.smalltype4 td{
	background-color: #f1f1fd;
}

.smalltype5 {
	font-size: 9px;
	font-weight:normal;
}

.tableheader-row2 {
	color: #0C4C7C;
	font-weight: bold;
	line-height: 18px;
	font-size: 11px;
}
.tableheader-row2 td{
	color: #0C4C7C;
	font-weight: bold;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #CCCCCC;
	background-color: #FFFFFF;
}
.tableheader-row3 {
	color: #0C4C7C;
	font-weight: bold;
	line-height: 13px;
	font-size: 11px;
}
.tableheader-row3 td{
	color: #0C4C7C;
	font-weight: bold;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #CCCCCC;
	background-color: #FFFFFF;
}

.admin-row td, .admin-row th{
    vertical-align: baseline;
    padding-top: 2px;
 	padding-right: 20px;
 	padding-bottom: 6px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0C4C7C;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0C4C7C;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0C4C7C;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0C4C7C;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0C4C7C;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0C4C7C;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
.pipeline_item {
	border-style: solid;
	border-color: #3C7CAC;
	border-width: 2px;
}
.pipeline_item2 {
	border-style: solid;
	border-color: #9999CC;
	border-width: 2px;
}

/* This is the content wrapper for the tan border at the top of create pipeline */
.pipeline_top {
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 2px;
}

.purge_notice {
	font-weight: bold;
	color: #990000;
}

.prompt-window {
	background-color: #FFFFFF;
	border: solid #0C4C7C 2px;
	position:absolute;
	z-index:300;
	width: 300px;
	height: auto;
	padding: 10px;
	color: #0C4C7C;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	visibility: hidden;
	left: 20%;
	top: 600px;
}
.download_code {
	background-color: #FFFFFF;
	border: solid #CCCCCC 2px;
	padding: 10px;
	color: #0C4C7C;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
}
input.error, select.error {
	border: 1px solid red;
	background-color: #FFFCE2;
	background-position: right;
	background-repeat: no-repeat;
}
.server_error_message {
    background-color: #FFFFFF;
    border: solid #CCCCFF 2px;
    padding: 10px;
    color: #990000;
    font-weight: normal;
}

.validation-error {
	color: red;
	font-weight: bold;
}

.validation-warning {
	color: orange;
	font-weight: bold;
}

/*CSS for license UI */
.license-center
{
    text-align: center;
}

.barhead-license-task {
	font-weight: bold;
	font-size: 11px;
	color: #0C4C7C;
	background-color: #CCCCCC;
	text-indent: 6px;
	height: 19px;
	width: 100%;
	line-height: 20px;
	vertical-align: top;
}

.license-content
{
    width: 100%;
}

.license-version
{
    float: right;
    font-size: 11px;
	font-weight: normal;
	color: #0C4C7C;
}

.license-agree-text
{
    font-size: 12px;
    font-weight: bold;
    color: #0C4C7C;
}

.license-lsid
{
    font-size: 9px;
    text-align: right;
}
/*End CSS for license UI