.bodyfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.adfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.bigbullet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.code {
	font-family: Courier, monospace;
	font-size: 12px;
}
.computerfont {
	font-family: Chicago, Courier, VT100, monospace;
	font-size: 12px;
}
.sidefont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.footertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
a.nav:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.nav:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #cccccc;
	text-decoration: none;
}
a.footer:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.footer:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #cccccc;
	text-decoration: none;
}

a.menufont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000066;
	text-decoration:none;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.fineprint {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
