.popupMenu {
    border: solid 1px #666666;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 5000;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
}

.popupMenu a:link {
    color: #333366;
    text-decoration: none;
}

.popupMenu a:hover {
    color: #6666FF;
    text-decoration: none;
    background-color: #FAFAF3;
}

.popupMenu a:active {
    color: #3333CC;
    text-decoration: none;
    background-color: #FAFAF3;
}

.popupMenu ul {
    margin: 5px;
    padding: 0px;
}

.popupMenu li {
    list-style: none;
}

.popupMenu ul li a {
    cursor: pointer;
    display: block;
    height: 1.4em;
    text-indent: 0px;
    text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}

.popupMenu ul li a:hover {
    color: #FFF;
    text-decoration: underline;
    background: #669;
}

.popupMenu ul li:hover {
    color: #FFF;
    background: #669;
    position: relative;
}