<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.mit.broad.gp.gpge"
   name="Gpge Plug-in"
   version="1.0.0"
   provider-name="Broad/MIT"
   class="edu.mit.broad.gp.gpge.GpgePlugin">

   <runtime>
      <library name="gpgeEclipse.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.update.configurator"/>
      <import plugin="edu.mit.broad.gp.core"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>

   <extension
         id="edu.mit.broad.gp.gpge.RcpApplication"
         point="org.eclipse.core.runtime.applications"
	   >
      <application>
            <run class="edu.mit.broad.gp.gpge.RcpApplication" />
      </application>
   </extension>
  
   <extension point="org.eclipse.ui.perspectives">
   	<perspective
          icon="icons/3x3_heatmap16.gif"
          class="edu.mit.broad.gp.gpge.GPGEPerspective"
          fixed="true"
          name="edu.mit.broad.gp.gpge.GPGEPerspective"
          id="edu.mit.broad.gp.gpge.GPGEPerspective"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="gpge"
            id="edu.mit.broad.gp.gpge">
      </category>
      <view
            name="Data View"
            icon="icons/filenav_nav.gif"
            category="edu.mit.broad.gp.gpge"
            class="edu.mit.broad.gp.gpge.views.data.DataView"
            id="edu.mit.broad.gp.gpge.views.data.DataView">
      </view>
       <view
            name="Server Browser"
            icon="icons/console_view.gif"
            allowMultiple="true"
            category="edu.mit.broad.gp.gpge"
            class="edu.mit.broad.gp.gpge.views.module.ModuleFormView"
            id="edu.mit.broad.gp.gpge.views.module.ModuleFormView">
      </view>
          <view
            name="Welcome"
            icon="icons/3x3_heatmap16.gif"
            allowMultiple="true"
            category="edu.mit.broad.gp.gpge"
            class="edu.mit.broad.gp.gpge.views.WelcomeView"
            id="edu.mit.broad.gp.gpge.views.WelcomeView">
      </view>
          <view
                allowMultiple="true"
                class="edu.mit.broad.gp.gpge.views.BrowserView"
                icon="icons/3x3_heatmap16.gif"
                category="edu.mit.broad.gp.gpge"
                name="Browser"
                id="edu.mit.broad.gp.gpge.views.BrowserView"/>
   </extension>

</plugin>
