/* button styles */
input[type="submit"], input[type="button"] {
background-color: transparent;
background-image: url(buttonBackground.gif);
background-repeat: no-repeat;
margin: 5px auto;
padding: 5px 5px 5px 5px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: bold;
font-size: 12px;
color: #333366;


}

input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:active, input[type="button"]:hover {
background-position: 0 -36px;
color: #0033FF;
}