body {
	background-color: #e3e3fd;
	padding: 0px 20px 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
	text-decoration: none;
}

a {
	color: #000099;
	text-decoration: none;
}
a:hover {
	color: #6666FF;
	text-decoration:  none;
}
a:active {
	color: #CCCCFF;
	text-decoration: none;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
ul li {
	padding-bottom: 10px;
}
ul li ul {
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ol {
}

ol li {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

h1{
	color: #333366;
	font-size: 16px;
	line-height: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9999FF;
	margin: 0px;
	padding: 0px;
}
h2{
	color: #333366;
	font-size: 14px;
	line-height: 18px;
}
h3{
	color: #666633;
	font-size: 12px;
	line-height: 14px;
}
h4{
	color: #333366;
	font-size: 11px;
	line-height: 13px;
}
h5 {
	color: #000000;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 5px 0px 10px;
	padding: 0px 0px 0px 15px;
}

.steps {
	background-color: #FFF;
	padding: 5px 10px 10px;
	border: 1px solid #6666FF;
	margin-top: 10px;
	margin-bottom: 10px;
}
.resultsInlineSubhead {
	font-size: 12px;
	font-weight: bold;
	color: #666633;
}
.steps p {
	padding: 0px 0px 0px 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.gpLinks {
	background-color: #ffffee; /* PWY, Pale Weak Yellow */
	border: 1px solid #cccccc; /* PG, Pale Gray */
	border-top: 6px solid #cccccc;

    padding: 0px 0px 0px 10px;
	margin-top: 0px;
	margin-bottom: 12px;
	margin-left: 24px;
	margin-right: 24px;
}

.gpLinks ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.gpLinks ul li {
	padding: 0;
	margin: 0;
}

.gpLinks a:after {
	content: " " url(../images/new-win-icon.gif);
}

/* display list of documentation links as an inline sequence of anchor (<a>) tags. */
.gpDocLinks p {
	text-indent: -12px;
	padding-left: 36px;
}
.gpDocLinks p:before {
	content: "Module documentation: ";
}
.gpDocLinks a { /* keep text and icon together */
	white-space: nowrap;
}
.gpDocLinks a:after { /* decorate links with a pdf icon */
	content: " " url(../images/pdf.jpg);
}

a.gpWindow:after {
	content: " " url(../images/new-win-icon.gif);
}




