
#paramsTable
{
    width: 90%;
    height: 100%;
}

.paramDescription
{
    /*display: block;  */
    border-bottom: 1px solid #7898c7;
}

#paramsTable td
{
    padding: 7px;
}

#paramsTable td:nth-child(odd)
{
    white-space: nowrap;    
}

#paramsTable input
{
    width: 150px;
}

.task_header
{
    clear: both;
	font-weight: bold;
	font-size: 15px;
	/*color: #333366;*/
	/*background-color: #CCDFFF;*/
    /*background-color: #B8C9E6; preferred */
    background-color: #CCCCFF;
	text-indent: 6px;
	height: 21px;
	width: 100%;
	line-height: 20px;
	vertical-align: bottom !important;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

.task_header select
{
    padding: 0 !important;
    margin-bottom: 0 !important;
    vertical-align: top !important;
}

.task_header div
{
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.task_header span
{
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.task_header label
{
    font-weight: normal;
    font-size: 13px;
    padding: 0;
    margin-bottom: 0;
}

.clear
{
    clear: both;
}

.paramDescription
{
    white-space: normal;       
}

.hidden
{
    clear: both;
    display: none;
}

.dNd
{
    border: 2px solid #DDD;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 5px;
}

.highlight
{
    background-color: #cddcf1;
}

.paramFilesTable
{
    text-align:left;
    width: 100%;
    border: 2px solid #DDD;
}

table.paramFilesTable tr td
{
    height: 10px !important;
    padding: 4px !important;;

    /* height: 12px !important;
    font-size: 11px !important;
    padding: 0 !important;*/
}

table.paramFilesTable tr td.pfileAction
{
    width: 19px;
    padding-left: 1px;
    text-align: center;
}

table.paramFilesTable tr:nth-child(odd)
{
    background-color: #eee;
}

button.urlButton
{
    font-size: 11px;
    padding: 0;
}

#paramsTable tr:nth-child(odd)
{
    border-bottom: 1px solid #7898c7;
}

#paramsTable input[type=text]
{
    width: 60%;
    height: 17px;
}

.fileDiv
{
    vertical-align: bottom;
}

.uploadBtn
{
    vertical-align: bottom;
    margin-right: 2px;
}

/*tr.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}*/

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

#fileUploadDiv
{
    padding: 2px;
}

.otherControlsDiv
{
    padding: 3px !important;
    margin-bottom: 5px !important;
    vertical-align: bottom !important;    
}

.submitControlsDiv
{
    margin-bottom: 5px !important;
}

.links
{
    margin-left: 2px;
    margin-right: 2px;
}

/* styling for name of parameter in run task form */
.pTitle
{
    font-weight: bold;
}

img.buttonIcon {
	padding-right: 5px;
	margin-left: -5px;
	vertical-align:top;
}

.dNdImg
{
    display: inline;
    vertical-align: bottom;
    padding-bottom: 2px;
    /*height: 34px;*/
}

#mod_description_toggle
{
    vertical-align: 2%;    
}

#description_main
{
    padding: 10px 5px 5px 5px;
}

#paramsListingDiv .ui-state-default
{
	background-image:url(images/btnBG.jpg); 
	background-repeat:repeat-x;
    color: #0c1922;
	border: solid 1px #466eb6;
	background-color:#dae4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding:1px;
	font-size:11px;
};

#paramsListingDiv .ui-state-hover
{
    background: #80a7d0 url(images/ui-bg_glass_75_B2D1F0_1x400.png) 50% 50% repeat-x;     
}

#paramsListingDiv .ui-state-active
{
    background: #80a7d0 url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
}

#paramsListingDiv .ui-widget-header .ui-icon
{
	background-image: url(images/ui-icons_0c1922_256x240.png);
}

#paramsListingDiv .ui-state-default .ui-icon
{
	background-image: url(images/ui-icons_0c1922_256x240.png);
}

.center
{
    width: 185px ;
    margin-left: auto ;
    margin-right: auto ;
}

.inputFileBtn
{
    position:absolute;
    z-index:-1000;
}

.ui-multiselect.mSelect 
{
    padding: 2px 3px 1px 10px !important;
    text-align: left;
}

#paramsListingDiv .images
{
    border: none !important;    
}

#paramsListingDiv .scroll
{
    max-height:160px;
    overflow:auto;
}

hr
{
    color: #D0D0D0;
    background-color: #D0D0D0;
}

/*.ui-button .ui-icon.otherOptions
{
    background-image: url(../images/dropMenu-normal.png);
}

.ui-button.ui-state-hover .ui-icon.otherOptions
{
    background-image: url(../images/dropMenu-hover.png);
} 
*/

#task_version_main
{
    margin-left: 17px;
}

.ui-iconbutton
{
    background: transparent;
    border: none;
}

.ui-menu
{
    width: 200px;
}


#documentation 
{
    text-decoration:underline;
}



